<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
                http://www.springframework.org/schema/context
                    http://www.springframework.org/schema/context/spring-context.xsd">
<!--    导入外部配置文件-->
<!--   <import resource="applicationContext-service.xml"></import>-->
    <context:property-placeholder location="classpath:jdbc.properties"/>
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${jdbc.driver}"/>
        <property name="jdbcUrl" value="${jdbc.url}"/>
        <property name="user" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>
    <bean id="sqlSessionFactoryBean" class="com.baomidou.mybatisplus.extension.spring.MybatisSqlSessionFactoryBean">
      <property name="dataSource" ref="dataSource" />
      <!-- 加载mybatis的全局配置文件 -->
<!--      <property name="configLocation"  value="classpath:mybatis-config.xml" />-->
      <!-- TODO 加载sql映射文件 -->
      <property name="mapperLocations" value="classpath*:mapper/*Mapper.xml" />
   </bean>

<!--    Mapper扫描器-->
    <!--扫描mapper所在的包,为mapper创建实现类(若使用此方法，接口Mapper与其映射文件的全限定名需一致)-->
<!--    <bean id="authMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">-->
<!--        <property name="sqlSessionFactory" ref="sqlSessionFactoryBean"/>-->
<!--        <property name="mapperInterface" value="com.zimax.components.coframe.auth.mapper.authMapper"/>-->
<!--    </bean>-->
    <bean id="RoleMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactoryBean"/>
        <property name="mapperInterface" value="com.zimax.components.coframe.rights.mapper.RoleMapper"/>
    </bean>
    <bean id="DictLoader" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactoryBean"/>
        <property name="mapperInterface" value="com.zimax.components.coframe.dict.mapper.DictLoader"/>
    </bean>
    <bean id="DictMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactoryBean"/>
        <property name="mapperInterface" value="com.zimax.components.coframe.dict.mapper.DictMapper"/>
    </bean>
    <bean id="UserMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactoryBean"/>
        <property name="mapperInterface" value="com.zimax.components.coframe.rights.mapper.UserMapper"/>
    </bean>
    <bean id="MenuMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactoryBean"/>
        <property name="mapperInterface" value="com.zimax.components.coframe.framework.mapper.MenuMapper"/>
    </bean>
    <bean id="applicationMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactoryBean"/>
        <property name="mapperInterface" value="com.zimax.components.coframe.framework.mapper.ApplicationMapper"/>
    </bean>
    <bean id="funcGroupMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactoryBean"/>
        <property name="mapperInterface" value="com.zimax.components.coframe.framework.mapper.FuncGroupMapper"/>
    </bean>
    <bean id="functionMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactoryBean"/>
        <property name="mapperInterface" value="com.zimax.components.coframe.framework.mapper.FunctionMapper"/>
    </bean>

</beans>