<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
                http://www.springframework.org/schema/context
                    http://www.springframework.org/schema/context/spring-context.xsd">
<!--    导入外部配置文件-->
<!--   <import resource="applicationContext-service.xml"></import>-->
    <context:property-placeholder location="classpath:jdbc.properties"/>
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${jdbc.driver}"/>
        <property name="jdbcUrl" value="${jdbc.url}"/>
        <property name="user" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>
    <bean id="sqlSessionFactoryBean" class="com.baomidou.mybatisplus.extension.spring.MybatisSqlSessionFactoryBean">
      <property name="dataSource" ref="dataSource" />
      <!-- 加载mybatis的全局配置文件 -->
<!--      <property name="configLocation"  value="classpath:mybatis-config.xml" />-->
      <!-- TODO 加载sql映射文件 -->
      <property name="mapperLocations" value="classpath*:mapper/*Mapper.xml" />
      <!--别名设置 -->
      <property name="typeAliasesPackage"  value="com.zl.house.entity" />
   </bean>

    <bean id="userDAO" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactoryBean"/>
        <property name="mapperInterface" value="com.zimax.mcrs.rights.mapper.RoleMapper"/>
    </bean>

</beans>