<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zimax.mcrs.log.mapper.AbnLogMapper">

    <!--    查询记录数-->
    <select id="count" resultType="int">
        SELECT  count(*)
        FROM log_log AS ll
        LEFT JOIN eqi_equipment AS eqi
        ON ll.equipment_int = eqi.equipment_int
        LEFT JOIN eqi_device AS dev
        ON ll.device_id = dev.device_id
        <where>
            ll.log_type = '108'
            <if test="equipmentName !=null and equipmentName !=''">
                and eqi.equipment_name like '%${equipmentName}%'
            </if>
            <if test="deviceName !=null and deviceName !=''">
                and dev.device_name like '%${deviceName}%'
            </if>
            <if test="abnType !=null and abnType !=''">
                and ll.abn_type like '%${abnType}%'
            </if>
            <if test="abnLevel !=null and abnLevel !=''">
                and ll.abn_level like '%${abnLevel}%'
            </if>
            <if test="equipmentExchangeTime !=null and equipmentExchangeTime !=''">
                and ll.equipment_exchange_time like '%${equipmentExchangeTime}%'
            </if>
        </where>
    </select>

    <!--查询所有-->
    <select id="queryAll" parameterType="map" resultType="com.zimax.mcrs.log.pojo.AbnLogVo">
        SELECT
        eqi.equipment_id,
        eqi.equipment_name,
        dev.app_id,
        dev.device_name,
        ll.abn_title,
        ll.abn_type,
        ll.abn_level,
        ll.abn_content,
        ll.equipment_exchange_time
        FROM log_log AS ll
        LEFT JOIN eqi_equipment AS eqi
        ON ll.equipment_int = eqi.equipment_int
        LEFT JOIN eqi_device AS dev
        ON ll.device_id = dev.device_id
        <where>
            ll.log_type = '108'
            <if test="equipmentName !=null and equipmentName !=''">
                and eqi.equipment_name like '%${equipmentName}%'
            </if>
            <if test="deviceName !=null and deviceName !=''">
                and dev.device_name like '%${deviceName}%'
            </if>
            <if test="abnType !=null and abnType !=''">
                and ll.abn_type like '%${abnType}%'
            </if>
            <if test="abnLevel !=null and abnLevel !=''">
                and ll.abn_level like '%${abnLevel}%'
            </if>
            <if test="equipmentExchangeTime !=null and equipmentExchangeTime !=''">
                and ll.equipment_exchange_time like '%${equipmentExchangeTime}%'
            </if>
        </where>
        <if test="order !=null and order !=''">
            order by ${field} ${order}
        </if>
        <if test="limit !=null and limit !=''">
            limit ${begin},${limit}
        </if>
    </select>

    <!--添加接口日志-->
    <insert id="addAbnLog" parameterType="com.zimax.mcrs.log.pojo.AbnLog">
        insert into log_log (log_id,log_type,equipment_int,device_id,abn_title,
                             abn_type,abn_level,abn_content,equipment_exchange_time,
                             create_time)
        values (#{logId}, #{logType}, #{equipmentInt},
                #{deviceId}, #{abnTitle}, #{abnType},
                #{abnLevel}, #{abnContent}, #{equipmentExchangeTime},
                #{createTime})
    </insert>


    <!--依据设备资源号获取设备信息-->
    <select id="checkEquipment" resultType="int">
        select count(*)
        from eqi_equipment
        where equipment_int = #{equipmentInt}
    </select>



</mapper>
