<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zimax.mcrs.monitor.mapper.AccessMonitorMapper">
    <!--添加监控信息-->
    <insert id="addSoftwareRunStatus" parameterType="com.zimax.mcrs.monitor.pojo.SoftwareRunStatus">
        insert into mon_soft_status
        values (#{softwareRunId}, #{equipmentId}, #{APPId}, #{deviceName}, #{deviceSoType},
                #{deviceSoRunStatus},#{cpuRate}, #{storageRate}, #{errorRate}, #{createTime})
    </insert>

    <insert id="addEquipmentStatus" parameterType="com.zimax.mcrs.monitor.pojo.EquipmentStatus">
        insert into mon_equipment_status
        values (#{equipmentStatusId}, #{equipmentId}, #{accessType}, #{accessStatus}, #{antennaStatus},#{createTime})
    </insert>

    <insert id="addDeviceAbn" parameterType="com.zimax.mcrs.monitor.pojo.DeviceAbn">
        insert into mon_access_status
        values (#{deviceAbnId}, #{equipmentId}, #{APPId}, #{deviceName}, #{useProcess},
                #{warningTitle},#{warningType}, #{warningLevel}, #{warningContent}, #{occurTime},#{remarks},#{createTime})
    </insert>


    <select id="groupQueryByproduction" resultType="com.zimax.mcrs.monitor.pojo.vo.GroupByProduction">
        SELECT warning_type as name, count(warning_type) as value
        FROM mon_access_status
        GROUP BY warning_type
    </select>
    <select id="groupQueryBydate" resultType="com.zimax.mcrs.monitor.pojo.vo.GroupByDate">
        select date_format(t1.occur_time, '%Y-%m-%d')            as recordDate,
               sum(CASE warning_type WHEN "1" THEN 1 ELSE 0 END) AS "activeWarn",
               sum(CASE warning_type WHEN "2" THEN 1 ELSE 0 END) AS "hardWarn"
        from mon_access_status t1
        group by date_format(t1.occur_time, '%Y-%m-%d')
        ORDER BY t1.occur_time desc limit 0,7
    </select>

</mapper>





