<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zimax.mcrs.monitor.mapper.AccessMonitorMapper">
    <!--添加监控信息-->
    <insert id="addSoftwareRunStatus" parameterType="com.zimax.mcrs.monitor.pojo.SoftwareRunStatus">
        insert into mon_soft_status
        values (#{softwareRunId}, #{equipmentId}, #{APPId}, #{deviceName}, #{deviceSoType},
                #{deviceSoRunStatus}, #{cpuRate}, #{storageRate}, #{errorRate}, #{createTime})
    </insert>

    <insert id="addEquipmentStatus" parameterType="com.zimax.mcrs.monitor.pojo.EquipmentStatus">
        insert into mon_equipment_status
        values (#{equipmentStatusId}, #{equipmentId}, #{accessType}, #{accessStatus}, #{antennaStatus}, #{createTime})
    </insert>

    <insert id="addDeviceAbn" parameterType="com.zimax.mcrs.monitor.pojo.DeviceAbn">
        insert into mon_device_abn
        values (#{deviceAbnId}, #{equipmentId}, #{APPId}, #{deviceName}, #{useProcess}, #{warningTitle},#{warningType}, #{warningLevel}, #{warningContent}, #{occurTime}, #{remarks}, #{createTime})
    </insert>


    <select id="groupQueryBydate" resultType="com.zimax.mcrs.monitor.pojo.vo.GroupByDate">
        select date_format(t1.occur_time, '%Y-%m-%d')              as recordDate,
               sum(CASE warning_type WHEN "101" THEN 1 ELSE 0 END) AS "activeWarn",
               sum(CASE warning_type WHEN "100" THEN 1 ELSE 0 END) AS "hardWarn"
        from mon_device_abn t1
        group by date_format(t1.occur_time, '%Y-%m-%d')
        ORDER BY t1.occur_time desc limit 0,7
    </select>
    <!--    告警信息-->
    <select id="getWarnInfo" resultType="com.zimax.mcrs.monitor.pojo.vo.WarnTotalInfo">
        select count(*)                                            as "warnTotal",
               sum(CASE warning_type WHEN "101" THEN 1 ELSE 0 END) AS "activeWarn",
               sum(CASE warning_type WHEN "100" THEN 1 ELSE 0 END) AS "hardWarn"
        from mon_device_abn
    </select>

    <select id="getWarnByproduction" resultType="com.zimax.mcrs.monitor.pojo.vo.GroupByProduction">
        select sum(CASE use_process WHEN "101" THEN 1 ELSE 0 END) AS "coldPress",
               sum(CASE use_process WHEN "102" THEN 1 ELSE 0 END) AS "dieCut",
               sum(CASE use_process WHEN "103" THEN 1 ELSE 0 END) AS "wind",
               sum(CASE use_process WHEN "104" THEN 1 ELSE 0 END) AS "coat"
        from mon_device_abn
    </select>

    <select id="getEqiOnline" resultType="Int">
        select count(*) as eqiOnline
        from mon_soft_status
        where device_so_run_status = "101"
    </select>

    <select id="getAccessOnline" resultType="Int">
        select count(*) as accessOnline
        from mon_equipment_status
        where access_status = "101"
    </select>

    <select id="queryProcessAndeqi" resultType="com.zimax.mcrs.monitor.pojo.vo.GroupByProduction">
        SELECT  sum(CASE process_name WHEN "101" THEN 1 ELSE 0 END) AS "coldPress",
                sum(CASE process_name WHEN "102" THEN 1 ELSE 0 END) AS "dieCut",
                sum(CASE process_name WHEN "103" THEN 1 ELSE 0 END) AS "wind",
                sum(CASE process_name WHEN "104" THEN 1 ELSE 0 END) AS "coat"
        FROM eqi_equipment AS eqi
                 LEFT JOIN base_access_info AS bai ON eqi.acc_point_res_id = bai.acc_point_res_id
                 LEFT JOIN base_process_info AS bpi ON bai.process_code = bpi.process_code
    </select>
</mapper>





