<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zimax.mcrs.monitor.mapper.AccessMonitorMapper">
    <!--添加监控信息-->
    <insert id="addAccessMonitor" parameterType="com.zimax.mcrs.monitor.pojo.AccessStatus">
        insert into mon_access_status
        values (#{accessId}, #{equipmentId}, #{APPId}, #{accessType}, #{accessStatus},
                #{antennaStatus}, #{deviceSoType}, #{deviceSoRuntime}, #{cpuRate}, #{storageRate}, #{occurTime},
                #{errorRate}, #{warningTitle}, #{warningType}, #{warningLevel}, #{warningContent}, #{remarks})
    </insert>
    <!--    查询软件运行状态记录数-->
    <select id="countSO" resultType="int">
        select count(*) from mon_access_status
        <where>
            <if test="equipmentId !=null and equipmentId !=''">
                and equipment_id like '%${equipmentId}%'
            </if>
            <if test="APPId !=null and APPId !=''">
                and app_id like '%${APPId}%'
            </if>
            <if test="deviceSoType !=null and deviceSoType !=''">
                and device_so_type like '%${deviceSoType}%'
            </if>
            <if test="deviceSoRuntime !=null and deviceSoRuntime !=''">
                and device_so_runtime like '%${deviceSoRuntime}%'
            </if>
        </where>
    </select>

    <!--查询软件运行状态信息-->
    <select id="querySoRuntimes" parameterType="map" resultType="com.zimax.mcrs.monitor.pojo.AccessStatus">
        select * from mon_access_status
        <where>
            <if test="equipmentId !=null and equipmentId !=''">
                and equipment_id like '%${equipmentId}%'
            </if>
            <if test="APPId !=null and APPId !=''">
                and app_id like '%${APPId}%'
            </if>
            <if test="deviceSoType !=null and deviceSoType !=''">
                and device_so_type like '%${deviceSoType}%'
            </if>
            <if test="deviceSoRuntime !=null and deviceSoRuntime !=''">
                and device_so_runtime like '%${deviceSoRuntime}%'
            </if>
        </where>
        <if test="order !=null and order !=''">
            order by ${field} ${order}
        </if>
        <if test="limit !=null and limit !=''">
            limit ${begin},${limit}
        </if>
    </select>

    <!--    plc查询记录数-->
    <select id="countEQP" resultType="int">
        select count(*) from mon_access_status
        <where>
            access_type="PLC"
            <if test="equipmentId !=null and equipmentId !=''">
                and equipment_id like '%${equipmentId}%'
            </if>
            <if test="accessStatus !=null and accessStatus !=''">
                and access_status like '%${accessStatus}%'
            </if>
        </where>

    </select>
    <!--查询plc运行状态信息-->
    <select id="queryEquipmentAccessP" parameterType="map" resultType="com.zimax.mcrs.monitor.pojo.AccessStatus">
        select * from mon_access_status
        <where>
            access_type="PLC"
            <if test="equipmentId !=null and equipmentId !=''">
                and equipment_id like '%${equipmentId}%'
            </if>
            <if test="accessStatus !=null and accessStatus !=''">
                and access_status like '%${accessStatus}%'
            </if>
        </where>
        <if test="order !=null and order !=''">
            order by ${field} ${order}
        </if>
        <if test="limit !=null and limit !=''">
            limit ${begin},${limit}
        </if>
    </select>

    <!--RFID查询记录数-->
    <select id="countEQR" resultType="int">
        select count(*) from mon_access_status
        <where>
            access_type="RFID"
            <if test="equipmentId !=null and equipmentId !=''">
                and equipment_id like '%${equipmentId}%'
            </if>
            <if test="accessStatus !=null and accessStatus !=''">
                and access_status like '%${accessStatus}%'
            </if>
            <if test="antennaStatus !=null and antennaStatus !=''">
                and antenna_status like '%${antennaStatus}%'
            </if>
        </where>

    </select>
    <!--查询RFID运行状态信息-->
    <select id="queryEquipmentAccessR" parameterType="map" resultType="com.zimax.mcrs.monitor.pojo.AccessStatus">
        select * from mon_access_status
        <where>
            access_type="RFID"
            <if test="equipmentId !=null and equipmentId !=''">
                and equipment_id like '%${equipmentId}%'
            </if>
            <if test="accessStatus !=null and accessStatus !=''">
                and access_status like '%${accessStatus}%'
            </if>
            <if test="antennaStatus !=null and antennaStatus !=''">
                and antenna_status like '%${antennaStatus}%'
            </if>
        </where>
        <if test="order !=null and order !=''">
            order by ${field} ${order}
        </if>
        <if test="limit !=null and limit !=''">
            limit ${begin},${limit}
        </if>
    </select>

    <!--终端告警信息记录数-->
    <select id="countAA" resultType="int">
        select count(*) from mon_access_status
        <where>
            <if test="equipmentId !=null and equipmentId !=''">
                and equipment_id like '%${equipmentId}%'
            </if>
            <if test="warningTitle !=null and warningTitle !=''">
                and warning_title like '%${warningTitle}%'
            </if>
            <if test="warningType !=null and warningType !=''">
                and warning_type like '%${warningType}%'
            </if>
            <if test="warningLevel !=null and warningLevel !=''">
                and warning_level like '%${warningLevel}%'
            </if>
            <if test="occurTime !=null and occurTime !=''">
                and occur_time =#{occurTime}
            </if>
        </where>

    </select>
    <!--查询终端告警信息-->
    <select id="queryDeviceAbnormalAlarm" parameterType="map" resultType="com.zimax.mcrs.monitor.pojo.AccessStatus">
        select * from mon_access_status
        <where>
            <if test="equipmentId !=null and equipmentId !=''">
                and equipment_id like '%${equipmentId}%'
            </if>
            <if test="warningTitle !=null and warningTitle !=''">
                and warning_title like '%${warningTitle}%'
            </if>
            <if test="warningType !=null and warningType !=''">
                and warning_type like '%${warningType}%'
            </if>
            <if test="warningLevel !=null and warningLevel !=''">
                and warning_level like '%${warningLevel}%'
            </if>
            <if test="occurTime !=null and occurTime !=''">
                and occur_time =#{occurTime}
            </if>
        </where>
        <if test="order !=null and order !=''">
            order by ${field} ${order}
        </if>
        <if test="limit !=null and limit !=''">
            limit ${begin},${limit}
        </if>
    </select>


    <!--查询系统监控告警信息记录数-->
    <select id="countSys" resultType="int">
        select count(*) from mon_access_status
        <where>
            <if test="warningTitle !=null and warningTitle !=''">
                and warning_title like '%${warningTitle}%'
            </if>
            <if test="warningType !=null and warningType !=''">
                and warning_type like '%${warningType}%'
            </if>
            <if test="warningLevel !=null and warningLevel !=''">
                and warning_level like '%${warningLevel}%'
            </if>
            <if test="occurTime !=null and occurTime !=''">
                and occur_time =#{occurTime}
            </if>
        </where>

    </select>
    <!--查询系统监控告警信息-->
    <select id="querySystemMonitorAlarm" parameterType="map" resultType="com.zimax.mcrs.monitor.pojo.AccessStatus">
        select * from mon_access_status
        <where>
            <if test="warningTitle !=null and warningTitle !=''">
                and warning_title like '%${warningTitle}%'
            </if>
            <if test="warningType !=null and warningType !=''">
                and warning_type like '%${warningType}%'
            </if>
            <if test="warningLevel !=null and warningLevel !=''">
                and warning_level like '%${warningLevel}%'
            </if>
            <if test="occurTime !=null and occurTime !=''">
                and occur_time =#{occurTime}
            </if>
        </where>
        <if test="order !=null and order !=''">
            order by ${field} ${order}
        </if>
        <if test="limit !=null and limit !=''">
            limit ${begin},${limit}
        </if>
    </select>

    <!--    查询终端运行状态记录数-->
    <select id="countDR" resultType="int">
        select count(*) from mon_access_status
        <where>
            <if test="equipmentId !=null and equipmentId !=''">
                and equipment_id like '%${equipmentId}%'
            </if>
            <if test="APPId !=null and APPId !=''">
                and app_id like '%${APPId}%'
            </if>
            <if test="deviceSoType !=null and deviceSoType !=''">
                and device_so_type like '%${deviceSoType}%'
            </if>
            <if test="deviceSoRuntime !=null and deviceSoRuntime !=''">
                and device_so_runtime like '%${deviceSoRuntime}%'
            </if>
        </where>
    </select>
    <select id="queryDeviceRuntime" parameterType="map" resultType="com.zimax.mcrs.monitor.pojo.vo.AccessStatusVo">
        SELECT equipment_id, app_id, device_so_type, device_so_runtime, access_status, cpu_rate, storage_rate,
        error_rate,
        COUNT(*) AS device_warning FROM mon_access_status
        <where>
            <if test="equipmentId !=null and equipmentId !=''">
                and equipment_id like '%${equipmentId}%'
            </if>
            <if test="APPId !=null and APPId !=''">
                and app_id like '%${APPId}%'
            </if>
            <if test="deviceSoType !=null and deviceSoType !=''">
                and device_so_type like '%${deviceSoType}%'
            </if>
            <if test="deviceSoRuntime !=null and deviceSoRuntime !=''">
                and device_so_runtime like '%${deviceSoRuntime}%'
            </if>
        </where>
        GROUP BY equipment_id
        <if test="order !=null and order !=''">
            order by ${field} ${order}
        </if>
        <if test="limit !=null and limit !=''">
            limit ${begin},${limit}
        </if>
    </select>

    <select id="groupQueryByproduction" resultType="com.zimax.mcrs.monitor.pojo.vo.GroupByProduction">
        SELECT warning_type as name ,count(warning_type) as value
        FROM mon_access_status
        GROUP BY warning_type
    </select>
    <select id="groupQueryBydate" resultType="com.zimax.mcrs.monitor.pojo.vo.GroupByDate">
        select
            date_format(t1.occur_time, '%Y-%m-%d') as recordDate ,
            sum(CASE warning_type WHEN "1" THEN 1 ELSE 0 END) AS "activeWarn",
            sum(CASE warning_type WHEN "2" THEN 1 ELSE 0 END) AS "hardWarn"
        from mon_access_status t1
        group by date_format(t1.occur_time, '%Y-%m-%d')
        ORDER BY t1.occur_time desc
            limit 0,7
    </select>

</mapper>





