<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zimax.mcrs.basic.accPointResMaintain.mapper.AccPointResMapper">


    <!--新增用户-->
    <insert id="addAccPointRes" parameterType="com.zimax.mcrs.basic.accPointResMaintain.pojo.AccPointRes">
        insert into base_access_info
        values (#{accPointResId}, #{infoId}, #{accPointResCode}, #{accPointResName}, #{isEnable}, #{matrixCode},
                #{factoryCode}, #{processCode}, #{creator}, #{createTime}, #{updater}, #{updateTime})

    </insert>

    <!--    查询记录数-->
    <select id="count" resultType="int">
        SELECT
        count(*)
        FROM
        base_access_info a
        LEFT JOIN base_matrix_info b ON a.matrix_code =  b.matrix_code
        LEFT JOIN base_factory_info c ON a.factory_code = c.factory_code
        LEFT JOIN base_process_info d ON a.process_code = d.process_code
        <where>
            <if test="accPointResCode !=null and accPointResCode !=''">
                and a.acc_point_res_code like '%${accPointResCode}%'
            </if>
            <if test="accPointResName !=null and accPointResName !=''">
                and a.acc_point_res_name like '%${accPointResName}%'
            </if>
            <if test="creator !=null and creator !=''">
                and a.creator like '%${creator}%'
            </if>
            <if test="createTime !=null and createTime !=''">
                and a.create_time like '%${createTime}%'
            </if>
        </where>
    </select>

    <!--更新一条选信息-->
    <update id="updateAccPointRes" parameterType="com.zimax.mcrs.basic.accPointResMaintain.pojo.AccPointRes">
        UPDATE base_access_info
        SET
            info_id            = #{infoId},
            acc_point_res_code = #{accPointResCode},
            acc_point_res_name = #{accPointResName},
            is_enable          = #{isEnable},
            matrix_code        = #{matrixCode},
            factory_code       = #{factoryCode},
            process_code       = #{processCode},
            creator            = #{creator},
            create_time        = #{createTime,jdbcType=DATE},
            updater            = #{updater},
            update_time        =#{updateTime,jdbcType=DATE}
        WHERE acc_point_res_id = ${accPointResId}
    </update>

    <!--列表显示-->
    <select id="queryAccPointRes" parameterType="map"
            resultType="com.zimax.mcrs.basic.accPointResMaintain.pojo.AccPointResVo">
        SELECT
        a.acc_point_res_id,
        a.acc_point_res_code,
        a.acc_point_res_name,
        a.is_enable,
        b.matrix_code,
        b.matrix_name,
        c.factory_code,
        c.factory_name,
        d.process_code,
        d.process_name,
        d.process_remarks,
        a.creator,
        a.create_time,
        a.updater,
        a.update_time,
        d.process_name,
        d.process_remarks
        FROM
        base_access_info a
        LEFT JOIN base_matrix_info b ON a.matrix_code =  b.matrix_code
        LEFT JOIN base_factory_info c ON a.factory_code = c.factory_code
        LEFT JOIN base_process_info d ON a.process_code = d.process_code
        <where>
            <if test="accPointResCode !=null and accPointResCode !=''">
                and a.acc_point_res_code like '%${accPointResCode}%'
            </if>
            <if test="accPointResName !=null and accPointResName !=''">
                and a.acc_point_res_name like '%${accPointResName}%'
            </if>
            <if test="creator !=null and creator !=''">
                and a.creator like '%${creator}%'
            </if>
            <if test="createTime !=null and createTime !=''">
                and a.create_time like '%${createTime}%'
            </if>
        </where>
        <if test="order !=null and order !=''">
            order by ${field} ${order}
        </if>
        <if test="limit !=null and limit !=''">
            limit ${begin},${limit}
        </if>
    </select>

    <!--根据主键删除-->
    <delete id="deleteAccPointRes" parameterType="int">
        delete
        from base_access_info
        where acc_point_res_id = #{accPointResId}
    </delete>


    <!--    批量删除-->
    <delete id="batchDelete" parameterType="java.util.List">
        delete from base_access_info where acc_point_res_id in
        <foreach collection="list" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <!--批量启用（弃用了）-->
    <update id="changeEnable">
        update base_access_info
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="isEnable = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.isEnable != null and item.isEnable != ''">
                        when acc_point_res_id= #{item.accPointResId} then #{item.isEnable}
                    </if>
                </foreach>
            </trim>
        </trim>
        where acc_point_res_id in
        <foreach collection="list" item="accPointRes" index="index" separator="," open="(" close=")">
            (#{accPointRes.acc_point_res_id})
        </foreach>
    </update>

    <!--批量启用-->
    <update id="enable" parameterType="java.util.List">
        update base_access_info
        set is_enable = #{isEnable},
            updater=#{updater},
            update_time=#{updateTime}
        where acc_point_res_id = #{accPointResId}
    </update>

</mapper>