<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zimax.mcrs.warn.mapper.AlarmRuleMapper">

    <!--查询记录数-->
    <select id="count" resultType="int">
        SELECT count(*) , cur.USER_NAME AS createName, cu.USER_NAME AS updateName
        FROM war_alarm_rule as rul
        LEFT JOIN war_alarm_event as eve
        on rul.alarm_event_int = eve.alarm_event_int
        LEFT JOIN cap_user AS cur
        ON rul.rule_make_form_people = cur.USER_ID
        LEFT JOIN cap_user AS cu
        ON rul.rule_update_people = cu.USER_ID
        <where>
        <if test="alarmRuleId !=null and alarmRuleId !=''">
            and rul.alarm_rule_id like '%${alarmRuleId}%'
        </if>
        <if test="alarmRuleTitle !=null and alarmRuleTitle !=''">
            and rul.alarm_rule_title like '%${alarmRuleTitle}%'
        </if>
        <if test="monitorLevel !=null and monitorLevel !=''">
            and rul.monitor_level like '%${monitorLevel}%'
        </if>
        <if test="enable !=null and enable !=''">
            and rul.enable like '%${enable}%'
        </if>
        <if test="alarmEventId !=null and alarmEventId !=''">
            and eve.alarm_event_id like '%${alarmEventId}%'
        </if>
        <if test="createName !=null and createName !=''">
            and cur.USER_NAME like '%${createName}%'
        </if>
        <if test="ruleMakeFormTime !=null and ruleMakeFormTime !=''">
            and rul.rule_make_form_time like '%${ruleMakeFormTime}%'
        </if>
        </where>
    </select>

    <!--查询所有监控规则表-->
    <select id="queryAll" parameterType="map" resultType="com.zimax.mcrs.warn.pojo.AlarmRuleVo">
        SELECT * , cur.USER_NAME AS createName, cu.USER_NAME AS updateName
        FROM war_alarm_rule as rul
        LEFT JOIN war_alarm_event as eve
        on rul.alarm_event_int = eve.alarm_event_int
        LEFT JOIN cap_user AS cur
        ON rul.rule_make_form_people = cur.USER_ID
        LEFT JOIN cap_user AS cu
        ON rul.rule_update_people = cu.USER_ID
        <where>
            <if test="alarmRuleId !=null and alarmRuleId !=''">
                and rul.alarm_rule_id like '%${alarmRuleId}%'
            </if>
            <if test="alarmRuleTitle !=null and alarmRuleTitle !=''">
                and rul.alarm_rule_title like '%${alarmRuleTitle}%'
            </if>
            <if test="monitorLevel !=null and monitorLevel !=''">
                and rul.monitor_level like '%${monitorLevel}%'
            </if>
            <if test="enable !=null and enable !=''">
                and rul.enable like '%${enable}%'
            </if>
            <if test="alarmEventId !=null and alarmEventId !=''">
                and eve.alarm_event_id like '%${alarmEventId}%'
            </if>
            <if test="createName !=null and createName !=''">
                and cur.USER_NAME like '%${createName}%'
            </if>
            <if test="ruleMakeFormTime !=null and ruleMakeFormTime !=''">
                and rul.rule_make_form_time like '%${ruleMakeFormTime}%'
            </if>
        </where>
        <if test="order !=null and order !=''">
            order by ${field} ${order}
        </if>
        <if test="limit !=null and limit !=''">
            limit ${begin},${limit}
        </if>
    </select>

    <!--添加预警规则-->
    <insert id="addAlarmRule" parameterType="com.zimax.mcrs.warn.pojo.AlarmRule" keyProperty="alarmRuleInt"
            useGeneratedKeys="true">
        insert into war_alarm_rule
        values (#{alarmRuleInt},
                #{alarmRuleId},
                #{alarmRuleTitle},
                #{enable},
                #{monitorLevel},
                #{alarmEventInt},
                #{alarmRuleDescribe},
                #{ruleMakeFormPeople},
                #{ruleMakeFormTime},
                #{ruleUpdatePeople},
                #{ruleUpdateTime})
    </insert>

    <!--根据主键删除预警规则-->
    <delete id="removeAlarmRule" parameterType="int">
        delete
        from war_alarm_rule
        where alarm_rule_int = #{alarmRuleInt}
    </delete>

    <!--更新1条预警规则-->
    <update id="updateAlarmRule" parameterType="com.zimax.mcrs.warn.pojo.AlarmRule">
        update war_alarm_rule
        set alarm_rule_id      = #{alarmRuleId},
            alarm_rule_title=#{alarmRuleTitle},
            enable=#{enable},
            monitor_level=#{monitorLevel},
            alarm_event_int=#{alarmEventInt},
            alarm_rule_describe=#{alarmRuleDescribe},
            rule_update_people=#{ruleUpdatePeople},
            rule_update_time=#{ruleUpdateTime}
        where alarm_rule_int = #{alarmRuleInt}
    </update>

    <!--    批量删除-->
    <delete id="deleteAlarmRules" parameterType="java.util.List">
        delete from war_alarm_rule where alarm_rule_int in
        <foreach collection="list" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <!--查询与预警规则对应的监控对象-->
    <select id="queryMonitorEquipmentVo" resultType="com.zimax.mcrs.warn.pojo.MonitorEquipmentVo">
        SELECT *
        FROM war_monitor_equipment AS wme
                 LEFT JOIN eqi_equipment AS eqi
                           ON wme.equipment_int = eqi.equipment_int
                 LEFT JOIN base_access_info AS bai
                           ON eqi.acc_point_res_id = bai.acc_point_res_id
        WHERE wme.alarm_rule_int = #{alarmRuleInt}
    </select>

    <!--添加与预警规则对应的监控对象-->
    <insert id="addMonitorEquipment" parameterType="com.zimax.mcrs.warn.pojo.MonitorEquipment" keyProperty="monitorEquipmentId"
            useGeneratedKeys="true">
        insert into war_monitor_equipment
        values (#{monitorEquipmentId},
                #{alarmRuleInt},
                #{equipmentInt})
    </insert>

    <!--查询与监控对象-->
    <select id="queryMonitorEquipment" resultType="com.zimax.mcrs.warn.pojo.MonitorEquipment">
        SELECT *
        FROM war_monitor_equipment
        WHERE alarm_rule_int = #{alarmRuleInt}
    </select>

    <!--查询监控对象对应的工位-->
    <select id="queryWorkStationList" parameterType="map" resultType="com.zimax.mcrs.device.pojo.WorkStation">
        SELECT work_station_num
        FROM eqi_work_station
        WHERE equipment_int = #{equipmentInt}
    </select>

    <!--删除监控对象-->
    <delete id="removeMonitorEquipment" parameterType="int">
        delete
        from war_monitor_equipment
        where monitor_equipment_id = #{monitorEquipmentId}
    </delete>


<!--    根据预警规则编号查询该预警编号是否已经存在-->
    <select id="countAlarmRule"  resultType="int">
        SELECT count(*)
        FROM war_alarm_rule
        WHERE alarm_rule_id = #{alarmRuleId}
    </select>
</mapper>
