<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zimax.mcrs.warn.mapper.AlarmRuleMapper">

    <!--查询记录数-->
    <select id="count" resultType="int">
        SELECT count(*) FROM war_alarm_rule as rul
        LEFT JOIN war_alarm_event as eve
        on rul.alarm_event_int = eve.alarm_event_int
        <where>
            <if test="alarmRuleId !=null and alarmRuleId !=''">
                and rul.alarm_rule_id like '%${alarmRuleId}%'
            </if>
            <if test="alarmRuleTitle !=null and alarmRuleTitle !=''">
                and rul.alarm_rule_title like '%${alarmRuleTitle}%'
            </if>
        </where>
    </select>

    <!--查询所有-->
    <select id="queryAll" parameterType="map" resultType="com.zimax.mcrs.warn.pojo.AlarmRuleVo">
        SELECT *FROM war_alarm_rule as rul
        LEFT JOIN war_alarm_event as eve
        on rul.alarm_event_int = eve.alarm_event_int
        <where>
            <if test="alarmRuleId !=null and alarmRuleId !=''">
                and rul.alarm_rule_id like '%${alarmRuleId}%'
            </if>
            <if test="alarmRuleTitle !=null and alarmRuleTitle !=''">
                and rul.alarm_rule_title like '%${alarmRuleTitle}%'
            </if>
            <if test="monitorLevel !=null and monitorLevel !=''">
                and rul.monitor_level like '%${monitorLevel}%'
            </if>
            <if test="enable !=null and enable !=''">
                and rul.enable like '%${enable}%'
            </if>
            <if test="alarmEventId !=null and alarmEventId !=''">
                and rul.alarm_event_id like '%${alarmEventId}%'
            </if>
            <if test="monitorObject !=null and monitorObject !=''">
                and rul.monitor_object like '%${monitorObject}%'
            </if>
            <if test="ruleMakeFormPeople !=null and ruleMakeFormPeople !=''">
                and rul.rule_make_form_People like '%${ruleMakeFormPeople}%'
            </if>
            <if test="ruleMakeFormTime !=null and ruleMakeFormTime !=''">
                and rul.rule_make_form_time like '%${ruleMakeFormTime}%'
            </if>
        </where>
        <if test="order !=null and order !=''">
            order by ${field} ${order}
        </if>
        <if test="limit !=null and limit !=''">
            limit ${begin},${limit}
        </if>
    </select>

    <!--添加预警规则-->
    <insert id="addAlarmRule" parameterType="com.zimax.mcrs.warn.pojo.AlarmRule">
        insert into war_alarm_rule
        values (#{alarmRuleInt},
                #{alarmRuleId},
                #{alarmRuleTitle},
                #{enable},
                #{monitorLevel},
                #{alarmEventInt},
                #{monitorObject},
                #{alarmRuleDescribe},
                #{ruleMakeFormPeople},
                #{ruleMakeFormTime},
                #{ruleUpdatePeople},
                #{ruleUpdateTime})
    </insert>

    <!--根据主键删除预警谷子额-->
    <delete id="removeAlarmRule" parameterType="int">
        delete
        from war_alarm_rule
        where alarm_rule_int = #{alarmRuleInt}
    </delete>

        <!--更新1条预警规则-->
        <update id="updateAlarmRule" parameterType="com.zimax.mcrs.warn.pojo.AlarmRule">
            update war_alarm_rule
            set alarm_rule_id = #{alarmRuleId},
                alarm_rule_title=#{alarmRuleTitle},
                enable=#{enable},
                monitor_level=#{monitorLevel},
                alarm_event_int=#{alarmEventInt},
                monitor_object=#{monitorObject},
                alarm_rule_describe=#{alarmRuleDescribe},
                rule_update_people=#{ruleUpdatePeople},
                rule_update_time=#{ruleUpdateTime}
            where alarm_rule_int =  #{alarmRuleInt}
        </update>

    <!--    批量删除-->
    <delete id="deleteAlarmRules" parameterType="java.util.List">
        delete from war_alarm_rule where alarm_rule_int in
        <foreach collection="list" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>



</mapper>
