<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zimax.mcrs.warn.mapper.AlarmEventMapper">

    <!--查询记录数-->
    <select id="count" resultType="int">
        select count(*) , cur.USER_NAME AS createName, cu.USER_NAME AS updateName from war_alarm_event AS wae
        LEFT JOIN cap_user AS cur
        on wae.make_form_people = cur.USER_ID
        LEFT JOIN cap_user as cu
        on wae.update_people = cu.USER_ID
        <where>
            <if test="alarmEventId !=null and alarmEventId !=''">
                and wae.alarm_event_id like '%${alarmEventId}%'
            </if>
            <if test="alarmEventTitle !=null and alarmEventTitle !=''">
                and wae.alarm_event_title like '%${alarmEventTitle}%'
            </if>
            <if test="enableStatus !=null and enableStatus !=''">
                and wae.enable_status like '%${enableStatus}%'
            </if>
            <if test="alarmLevel !=null and alarmLevel !=''">
                and wae.alarm_level like '%${alarmLevel}%'
            </if>
            <if test="alarmType !=null and alarmType !=''">
                and wae.alarm_type like '%${alarmType}%'
            </if>
            <if test="createName !=null and createName !=''">
                and cur.USER_NAME like '%${createName}%'
            </if>
            <if test="makeFormTime !=null and makeFormTime !=''">
                and wae.make_form_time like '%${makeFormTime}%'
            </if>
            <if test="updateName !=null and updateName !=''">
                and cu.USER_NAME like '%${updateName}%'
            </if>
            <if test="updateTime !=null and updateTime !=''">
                and wae.update_time like '%${updateTime}%'
            </if>
        </where>
    </select>

    <!--查询所有-->
    <select id="queryAll" parameterType="map" resultType="com.zimax.mcrs.warn.pojo.AlarmEventVo">
        select * , cur.USER_NAME AS createName, cu.USER_NAME AS updateName from war_alarm_event AS wae
        LEFT JOIN cap_user AS cur
        on wae.make_form_people = cur.USER_ID
        LEFT JOIN cap_user as cu
        on wae.update_people = cu.USER_ID
        <where>
            <if test="alarmEventId !=null and alarmEventId !=''">
                and wae.alarm_event_id like '%${alarmEventId}%'
            </if>
            <if test="alarmEventTitle !=null and alarmEventTitle !=''">
                and wae.alarm_event_title like '%${alarmEventTitle}%'
            </if>
            <if test="enableStatus !=null and enableStatus !=''">
                and wae.enable_status like '%${enableStatus}%'
            </if>
            <if test="alarmLevel !=null and alarmLevel !=''">
                and wae.alarm_level like '%${alarmLevel}%'
            </if>
            <if test="alarmType !=null and alarmType !=''">
                and wae.alarm_type like '%${alarmType}%'
            </if>
            <if test="createName !=null and createName !=''">
                and cur.USER_NAME like '%${createName}%'
            </if>
            <if test="makeFormTime !=null and makeFormTime !=''">
                and wae.make_form_time like '%${makeFormTime}%'
            </if>
            <if test="updateName !=null and updateName !=''">
                and cu.USER_NAME like '%${updateName}%'
            </if>
            <if test="updateTime !=null and updateTime !=''">
                and wae.update_time like '%${updateTime}%'
            </if>
        </where>
        <if test="order !=null and order !=''">
            order by ${field} ${order}
        </if>
        <if test="limit !=null and limit !=''">
            limit ${begin},${limit}
        </if>
    </select>

    <!--添加预警事件-->
    <insert id="addAlarmEvent" parameterType="com.zimax.mcrs.warn.pojo.AlarmEvent">
        insert into war_alarm_event
        values (#{alarmEventInt},#{alarmEventId}, #{alarmEventTitle}, #{enableStatus},
                #{alarmLevel}, #{upperLimit},
                #{lowerLimit}, #{alarmEventContent},
                #{alarmType}, #{makeFormPeople}, #{makeFormTime},
                #{updatePeople}, #{updateTime})
    </insert>

    <!--根据主键删除预警事件-->
    <delete id="removeAlarmEvent" parameterType="int">
        delete
        from war_alarm_event
        where alarm_event_int = #{alarmEventInt}
    </delete>

    <!--更新预警事件-->
    <update id="updateAlarmEvent" parameterType="com.zimax.mcrs.warn.pojo.AlarmEvent">
        update war_alarm_event
        set alarm_event_id=#{alarmEventId},
            alarm_event_title=#{alarmEventTitle},
            enable_status=#{enableStatus},
            alarm_level=#{alarmLevel},
            upper_limit=#{upperLimit},
            lower_limit=#{lowerLimit},
            alarm_event_content=#{alarmEventContent},
            alarm_type=#{alarmType},
            update_people=#{updatePeople},
            update_time=#{updateTime}
        where alarm_event_int = #{alarmEventInt}
    </update>

<!--    批量删除-->
    <delete id="deleteAlarmEvents" parameterType="com.zimax.mcrs.warn.pojo.AlarmEvent">
        delete from war_alarm_event where alarm_event_int in
        <foreach collection="list" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <!--批量启用-->
    <update id="enable" parameterType="java.util.List">
        update war_alarm_event
        set enable_status = #{enableStatus},
            update_people=#{updatePeople},
            update_time=#{updateTime}
        where alarm_event_int = #{alarmEventInt}
    </update>

    <!--查询记录数-->
    <select id="checkAlarmEvent" resultType="int">
        select count(*) from war_alarm_event
        where alarm_event_id = #{alarmEventId}
    </select>

</mapper>
