<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zimax.mcrs.report.mapper.CoilDiameterRecordMapper">

    <!--上下料卷径数据记录表-->
    <insert id="addCoilDiameterRecord" parameterType="com.zimax.mcrs.report.pojo.CoilDiameterRecord">
        insert into rep_coilDiameterRecord
        values (#{id},#{resource},#{sfcPreData},#{uDiamRealityValue},#{rAxisName},#{rProcessLotPre},#{sfcData},#{rDiamRealityValue}, #{isLastVolume}, #{unwindIsOver}, #{remark}, #{updatedTime})
    </insert>
</mapper>

