<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zimax.mcrs.monitor.mapper.DeviceAbnormalAlarmMapper">


    <!--终端告警信息记录数-->
    <select id="countAA" resultType="int">
        select
        count(*)
        from mon_device_abn a
        LEFT JOIN eqi_equipment b ON a.equipment_id = b.equipment_id
        <where>
            <if test="equipmentId !=null and equipmentId !=''">
                and a.equipment_id like '%${equipmentId}%'
            </if>
            <if test="equipmentName !=null and equipmentName !=''">
                and b.equipment_name like '%${equipmentName}%'
            </if>
            <if test="deviceName !=null and deviceName !=''">
                and a.device_name like '%${deviceName}%'
            </if>
            <if test="useProcess !=null and useProcess !=''">
                and a.use_process like '%${useProcess}%'
            </if>
            <if test="warningTitle !=null and warningTitle !=''">
                and a.warning_title like '%${warningTitle}%'
            </if>
            <if test="warningType !=null and warningType !=''">
                and a.warning_type like '%${warningType}%'
            </if>
            <if test="warningLevel !=null and warningLevel !=''">
                and a.warning_level like '%${warningLevel}%'
            </if>
            <if test="warningContent !=null and warningContent !=''">
                and a.warning_content like '%${warningContent}%'
            </if>
            <if test="occurTime !=null and occurTime !=''">
                and a.occur_time like '%${occurTime}%'
            </if>
        </where>

    </select>
    <!--查询终端告警信息-->
    <select id="queryDeviceAbnormalAlarm" parameterType="map" resultType="com.zimax.mcrs.monitor.pojo.vo.DeviceAbnVo">
        select
        a.device_abn_id,
        a.equipment_id,
        b.equipment_name,
        a.app_id,
        a.device_name,
        a.use_process,
        a.warning_title,
        a.warning_type,
        a.warning_level,
        a.warning_content,
        a.occur_time
        from mon_device_abn a
        LEFT JOIN eqi_equipment b ON a.equipment_id = b.equipment_id
        <where>
            <if test="equipmentId !=null and equipmentId !=''">
                and a.equipment_id like '%${equipmentId}%'
            </if>
            <if test="equipmentName !=null and equipmentName !=''">
                and b.equipment_name like '%${equipmentName}%'
            </if>
            <if test="deviceName !=null and deviceName !=''">
                and a.device_name like '%${deviceName}%'
            </if>
            <if test="useProcess !=null and useProcess !=''">
                and a.use_process like '%${useProcess}%'
            </if>
            <if test="warningTitle !=null and warningTitle !=''">
                and a.warning_title like '%${warningTitle}%'
            </if>
            <if test="warningType !=null and warningType !=''">
                and a.warning_type like '%${warningType}%'
            </if>
            <if test="warningLevel !=null and warningLevel !=''">
                and a.warning_level like '%${warningLevel}%'
            </if>
            <if test="warningContent !=null and warningContent !=''">
                and a.warning_content like '%${warningContent}%'
            </if>
            <if test="occurTime !=null and occurTime !=''">
                and a.occur_time like '%${occurTime}%'
            </if>
        </where>
        <if test="order !=null and order !=''">
            order by ${field} ${order}
        </if>
        <if test="limit !=null and limit !=''">
            limit ${begin},${limit}
        </if>
    </select>

</mapper>
