<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zimax.mcrs.log.mapper.DeviceExchangeLogMapper">

    <!--    查询记录数-->
    <select id="count" resultType="int">
        SELECT
        count(*)
        FROM log_log AS ll
        LEFT JOIN eqi_equipment AS eqi
        ON ll.equipment_int = eqi.equipment_int
        LEFT JOIN eqi_device AS dev
        ON ll.device_id = dev.device_id
        LEFT JOIN base_access_info AS bai
        ON eqi.acc_point_res_id = bai.acc_point_res_id
        LEFT JOIN base_process_info AS bpi
        ON bai.process_id = bpi.process_id
        LEFT JOIN base_factory_info AS bfi
        ON bpi.factory_id = bfi.factory_id
        LEFT JOIN base_matrix_info AS bmi
        ON bfi.matrix_id = bmi.matrix_id
        LEFT JOIN cap_user AS cur
        ON ll.`user` = cur.USER_ID
        <where>
            ll.log_type = '104'
            <if test="logStatus !=null and logStatus !=''">
                and ll.log_status like '%${logStatus}%'
            </if>
            <if test="equipmentId !=null and equipmentId !=''">
                and eqi.equipment_id like '%${equipmentId}%'
            </if>
            <if test="equipmentName !=null and equipmentName !=''">
                and eqi.equipment_name like '%${equipmentName}%'
            </if>
            <if test="matrixName !=null and matrixName !=''">
                and bmi.matrix_name like '%${matrixName}%'
            </if>
            <if test="factoryName !=null and factoryName !=''">
                and bfi.factory_name like '%${factoryName}%'
            </if>
            <if test="processName !=null and processName !=''">
                and bpi.process_name like '%${processName}%'
            </if>
            <if test="operationType !=null and operationType !=''">
                and ll.operation_type like '%${operationType}%'
            </if>
            <if test="equipmentContinuePort !=null and equipmentContinuePort !=''">
                and eqi.equipment_continue_port like '%${equipmentContinuePort}%'
            </if>
            <if test="operateName !=null and operateName !=''">
                and cur.USER_NAME like '%${operateName}%'
            </if>
            <if test="equipmentExchangeTime !=null and equipmentExchangeTime !=''">
                and ll.equipment_exchange_time like '%${equipmentExchangeTime}%'
            </if>
        </where>
    </select>

    <!--查询所有-->
    <select id="queryAll" parameterType="map" resultType="com.zimax.mcrs.log.pojo.DeviceExchangeLogVo">
        SELECT
        ll.log_status,
        eqi.equipment_id,
        eqi.equipment_name,
        dev.app_id,
        eqi.equipment_ip,
        eqi.equipment_continue_port,
        bmi.matrix_name,
        bfi.factory_name,
        bpi.process_name,
        ll.operation_type,
        operation_content,
        cur.USER_NAME AS operateName,
        ll.equipment_exchange_time
        FROM log_log AS ll
        LEFT JOIN eqi_equipment AS eqi
        ON ll.equipment_int = eqi.equipment_int
        LEFT JOIN eqi_device AS dev
        ON ll.device_id = dev.device_id
        LEFT JOIN base_access_info AS bai
        ON eqi.acc_point_res_id = bai.acc_point_res_id
        LEFT JOIN base_process_info AS bpi
        ON bai.process_id = bpi.process_id
        LEFT JOIN base_factory_info AS bfi
        ON bpi.factory_id = bfi.factory_id
        LEFT JOIN base_matrix_info AS bmi
        ON bfi.matrix_id = bmi.matrix_id
        LEFT JOIN cap_user AS cur
        ON ll.`user` = cur.USER_ID
        <where>
            ll.log_type = '104'
            <if test="logStatus !=null and logStatus !=''">
                and ll.log_status like '%${logStatus}%'
            </if>
            <if test="equipmentId !=null and equipmentId !=''">
                and eqi.equipment_id like '%${equipmentId}%'
            </if>
            <if test="equipmentName !=null and equipmentName !=''">
                and eqi.equipment_name like '%${equipmentName}%'
            </if>
            <if test="matrixName !=null and matrixName !=''">
                and bmi.matrix_name like '%${matrixName}%'
            </if>
            <if test="factoryName !=null and factoryName !=''">
                and bfi.factory_name like '%${factoryName}%'
            </if>
            <if test="processName !=null and processName !=''">
                and bpi.process_name like '%${processName}%'
            </if>
            <if test="operationType !=null and operationType !=''">
                and ll.operation_type like '%${operationType}%'
            </if>
            <if test="equipmentContinuePort !=null and equipmentContinuePort !=''">
                and eqi.equipment_continue_port like '%${equipmentContinuePort}%'
            </if>
            <if test="operateName !=null and operateName !=''">
                and cur.USER_NAME like '%${operateName}%'
            </if>
            <if test="equipmentExchangeTime !=null and equipmentExchangeTime !=''">
                and ll.equipment_exchange_time like '%${equipmentExchangeTime}%'
            </if>
        </where>
        <if test="order !=null and order !=''">
            order by ${field} ${order}
        </if>
        <if test="limit !=null and limit !=''">
            limit ${begin},${limit}
        </if>
    </select>

    <!--添加设备交换日志-->
    <insert id="addDeviceExchangeLog" parameterType="com.zimax.mcrs.log.pojo.DeviceExchangeLog">
        insert into log_log (log_id, log_type, log_status, equipment_int, device_id,
                             operation_type, operation_content, user,
                             equipment_exchange_time, create_time)
        values (#{logId}, #{logType}, #{logStatus}, #{equipmentInt}, #{deviceId},
                #{operationType}, #{operationContent}, #{user},
                #{equipmentExchangeTime}, #{createTime})
    </insert>


    <!--查询所有-->
    <select id="csQuery" parameterType="map" resultType="com.zimax.mcrs.log.pojo.DeviceExchangeLogVo">
        SELECT ll.log_status,
               eqi.equipment_id,
               eqi.equipment_name,
               dev.app_id,
               eqi.equipment_ip,
               eqi.equipment_continue_port,
               bmi.matrix_name,
               bfi.factory_name,
               bpi.process_name,
               ll.operation_type,
               operation_content,
               cur.USER_NAME AS operateName,
               ll.equipment_exchange_time
        FROM log_log AS ll
                 LEFT JOIN eqi_equipment AS eqi
                           ON ll.equipment_int = eqi.equipment_int
                 LEFT JOIN eqi_device AS dev
                           ON ll.device_id = dev.device_id
                 LEFT JOIN base_access_info AS bai
                           ON eqi.acc_point_res_id = bai.acc_point_res_id
                 LEFT JOIN base_process_info AS bpi
                           ON bai.process_id = bpi.process_id
                 LEFT JOIN base_factory_info AS bfi
                           ON bpi.factory_id = bfi.factory_id
                 LEFT JOIN base_matrix_info AS bmi
                           ON bfi.matrix_id = bmi.matrix_id
                 LEFT JOIN cap_user AS cur
                           ON ll.`user` = cur.USER_ID
        where ll.log_type = '104'
          and dev.app_id = #{APPId}
        ORDER BY ll.equipment_exchange_time DESC
    </select>


</mapper>
