<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zimax.mcrs.device.mapper.DeviceRollbackMapper">

    <!--查询记录数-->
    <select id="count" resultType="int">
        select
        count(*)
        FROM
        dev_rollback AS rol
        LEFT JOIN
        eqi_equipment AS eqi
        ON rol.equipment_int=eqi.equipment_int
        LEFT JOIN
        eqi_device AS dev
        ON rol.device_id=dev.device_id
        LEFT JOIN
        upd_upload AS upl
        ON rol.upload_id=upl.upload_id
        LEFT JOIN
        base_access_info AS bai
        ON eqi.acc_point_res_id = bai.acc_point_res_id
        LEFT JOIN
        base_factory_info AS bfi
        ON bai.factory_code = bfi.factory_code
        <where>
            <if test="deviceName !=null and deviceName !=''">
                and dev.device_name LIKE '%${deviceName}%'
            </if>
            <if test="deviceSoftwareType !=null and deviceSoftwareType !=''">
                and dev.device_software_type LIKE '%${deviceSoftwareType}%'
            </if>
            <if test="version !=null and version !=''">
                and upl.version like '%${version}%'
            </if>
            <if test="versionRollbackPeople !=null and versionRollbackPeople !=''">
                and rol.version_rollback_people like '%${versionRollbackPeople}%'
            </if>
            <if test="versionRollbackTime !=null and versionRollbackTime !=''">
                and rol.version_rollback_time like '%${versionRollbackTime}%'
            </if>
        </where>
    </select>

    <!--查询所有-->
    <select id="queryAll" parameterType="map" resultType="com.zimax.mcrs.device.pojo.DeviceRollbackVo">
        SELECT
        rol.device_rollback_id,
        rol.equipment_int,
        rol.device_id,
        rol.upload_id,
        upl.version,
        rol.upgrade_status,
        rol.version_rollback_people,
        rol.version_rollback_time,
        eqi.equipment_id,
        eqi.equipment_name,
        dev.device_name,
        dev.device_software_type,
        bfi.factory_name,
        upl.upload_number,
        dev.app_id
        FROM
        dev_rollback AS rol
        LEFT JOIN
        eqi_equipment AS eqi
        ON rol.equipment_int=eqi.equipment_int
        LEFT JOIN
        eqi_device AS dev
        ON rol.device_id=dev.device_id
        LEFT JOIN
        upd_upload AS upl
        ON rol.upload_id=upl.upload_id
        LEFT JOIN
        base_access_info AS bai
        ON eqi.acc_point_res_id = bai.acc_point_res_id
        LEFT JOIN
        base_factory_info AS bfi
        ON bai.factory_code = bfi.factory_code
        <where>
            <if test="deviceName !=null and deviceName !=''">
                and dev.device_name LIKE '%${deviceName}%'
            </if>
            <if test="deviceSoftwareType !=null and deviceSoftwareType !=''">
                and dev.device_software_type LIKE '%${deviceSoftwareType}%'
            </if>
            <if test="version !=null and version !=''">
                and upl.version like '%${version}%'
            </if>
            <if test="versionRollbackPeople !=null and versionRollbackPeople !=''">
                and rol.version_rollback_people like '%${versionRollbackPeople}%'
            </if>
            <if test="versionRollbackTime !=null and versionRollbackTime !=''">
                and rol.version_rollback_time like '%${versionRollbackTime}%'
            </if>
        </where>
        <if test="order !=null and order !=''">
            order by ${field} ${order}
        </if>
        <if test="limit !=null and limit !=''">
            limit ${begin},${limit}
        </if>
    </select>

    <!--    &lt;!&ndash;注册终端&ndash;&gt;-->
    <!--    <insert id="registrationDevice" parameterType="com.zimax.mcrs.device.pojo.Device">-->
    <!--        insert into eqi_device-->
    <!--        values (#{deviceId}, #{APPId}, #{version}, #{needUpdate},-->
    <!--                #{deviceSoftwareType}, #{deviceName},-->
    <!--                #{assessName}, #{factoryName}, #{assessType},-->
    <!--                #{assessIp}, #{equipmentId},-->
    <!--                #{assessAttributes}, #{assessInstallLocation},-->
    <!--                #{accessMethod}, #{remarks}, #{creator},-->
    <!--                #{createTime}, #{enable}, #{createRole},-->
    <!--                #{updater}, #{updateTime})-->
    <!--    </insert>-->

    <!--    &lt;!&ndash;根据主键删除设备&ndash;&gt;-->
    <!--    <delete id="logoutDevice" parameterType="int">-->
    <!--        delete-->
    <!--        from eqi_device-->
    <!--        where device_id = #{deviceId}-->
    <!--    </delete>-->

    <!--    &lt;!&ndash;更新1条设备信息&ndash;&gt;-->
    <!--    <update id="updateDevice" parameterType="com.zimax.mcrs.device.pojo.Device">-->
    <!--        update eqi_device-->
    <!--        set app_id = #{APPId},-->
    <!--            device_software_type=#{deviceSoftwareType},-->
    <!--            device_name=#{deviceName},-->
    <!--            assess_name=#{assessName},-->
    <!--            factory_name=#{factoryName},-->
    <!--            assess_type=#{assessType},-->
    <!--            assess_ip=#{assessIp},-->
    <!--            equipment_id=#{equipmentId},-->
    <!--            assess_attributes=#{assessAttributes},-->
    <!--            assess_install_location=#{assessInstallLocation},-->
    <!--            access_method=#{accessMethod},-->
    <!--            enable=#{enable},-->
    <!--            updater=#{updater},-->
    <!--            update_time=#{updateTime}-->
    <!--        where device_id = #{deviceId}-->
    <!--    </update>-->

    <!--    &lt;!&ndash;查询数据给监控&ndash;&gt;-->
    <!--    <select id="toMonitor" parameterType="map" resultType="com.zimax.mcrs.device.pojo.Device">-->
    <!--        select `equipment_id`,`app_id`,`device_software_type` ,`device_id`from eqi_device-->
    <!--    </select>-->

    <update id="updateDeviceRollback" parameterType="com.zimax.mcrs.device.pojo.DeviceRollback">
        UPDATE dev_rollback
        SET upgrade_status = #{upgradeStatus}
        WHERE device_rollback_id = ${deviceRollbackId}
    </update>

    <update id="updateDeviceRollbackAll" parameterType="com.zimax.mcrs.device.pojo.DeviceRollback">
        UPDATE dev_rollback
        SET
            equipment_int = #{equipmentInt},
            device_id = #{deviceId},
            upload_id = #{uploadId},
            rollback_before_version = #{rollbackBeforeVersion},
            version_rollback_time = #{versionRollbackTime},
            version_rollback_people = #{versionRollbackPeople},
            upgrade_status = #{upgradeStatus}
        WHERE device_rollback_id = ${deviceRollbackId}
    </update>

    <insert id="addDeviceRollback" parameterType="com.zimax.mcrs.device.pojo.DeviceRollback">
        insert into dev_rollback
        values (#{deviceRollbackId}, #{equipmentInt},
                #{deviceId}, #{uploadId},
                #{rollbackBeforeVersion}, #{upgradeStatus},
                #{versionRollbackPeople}, #{versionRollbackTime})
    </insert>

    <select id="check" resultType="int">
        select count(*)
        from dev_rollback
        where device_upgrade_id = #{deviceUpgradeId}
    </select>

    <select id="queryRollbackMsg" parameterType="map" resultType="com.zimax.mcrs.device.pojo.DeviceRollback">
        select *
        from dev_rollback
        where device_upgrade_id = #{deviceUpgradeId}
    </select>

    <select id="queryRollRecordId" parameterType="map" resultType="com.zimax.mcrs.device.pojo.DeviceUploadRollbackVo">
        SELECT *
        FROM dev_rollback a
                 LEFT JOIN eqi_device b ON a.device_id = b.device_id
                 LEFT JOIN upd_upload c ON a.upload_id = c.upload_id
        WHERE upgrade_status = "100"
          AND a.device_id = #{deviceId}
    </select>
</mapper>
