<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zimax.mcrs.monitor.mapper.DeviceAbnormalAlarmMapper">


    <!--终端告警信息记录数-->
    <select id="countAA" resultType="int">
        select
        count(dev.device_name)
        FROM
        mon_device_real AS mdr
        LEFT JOIN eqi_device AS dev ON mdr.app_id = dev.app_id
        LEFT JOIN eqi_equipment AS equ ON dev.equipment_int = equ.equipment_int
        LEFT JOIN war_alarm_event AS wae ON mdr.warning_content = wae.alarm_event_id
        LEFT JOIN base_access_info AS bai ON equ.acc_point_res_id = bai.acc_point_res_id
        LEFT JOIN base_process_info AS bpi ON bai.process_id = bpi.process_id
        <where>
            <if test="equipmentId !=null and equipmentId !=''">
                and equ.equipment_id like '%${equipmentId}%'
            </if>
            <if test="equipmentName !=null and equipmentName !=''">
                and equ.equipment_name like '%${equipmentName}%'
            </if>
            <if test="deviceName !=null and deviceName !=''">
                and dev.device_name like '%${deviceName}%'
            </if>
            <if test="processName !=null and processName !=''">
                and bpi.process_name like '%${processName}%'
            </if>
            <if test="alarmEventTitle !=null and alarmEventTitle !=''">
                and wae.alarm_event_title like '%${alarmEventTitle}%'
            </if>
            <if test="alarmType !=null and alarmType !=''">
                and wae.alarm_type like '%${alarmType}%'
            </if>
            <if test="alarmLevel !=null and alarmLevel !=''">
                and wae.alarm_level like '%${alarmLevel}%'
            </if>
            <if test="alarmEventContent !=null and alarmEventContent !=''">
                and wae.alarm_event_content like '%${alarmEventContent}%'
            </if>
            <if test="occurrenceTime !=null and occurrenceTime !=''">
                and mdr.occurrence_time like '%${occurrenceTime}%'
            </if>
        </where>

    </select>
    <!--查询终端告警信息-->
    <select id="queryDeviceAbnormalAlarm" parameterType="map" resultType="com.zimax.mcrs.monitor.pojo.vo.DeviceAbnVo">
        SELECT
        dev.device_id,
        equ.equipment_int,
        wae.alarm_event_id,
        wae.alarm_event_int,
        bai.acc_point_res_id,
        bpi.process_id,
        equ.equipment_id,
        equ.equipment_name,
        mdr.app_id,
        dev.device_name,
        bpi.process_name,
        wae.alarm_event_title,
        wae.alarm_type,
        wae.alarm_level,
        wae.alarm_event_content,
        mdr.occurrence_time
        FROM
        mon_device_real AS mdr
        LEFT JOIN eqi_device AS dev ON mdr.app_id = dev.app_id
        LEFT JOIN eqi_equipment AS equ ON dev.equipment_int = equ.equipment_int
        LEFT JOIN war_alarm_event AS wae ON mdr.warning_content = wae.alarm_event_id
        LEFT JOIN base_access_info AS bai ON equ.acc_point_res_id = bai.acc_point_res_id
        LEFT JOIN base_process_info AS bpi ON bai.process_id = bpi.process_id
        <where>
            <if test="equipmentId !=null and equipmentId !=''">
                and equ.equipment_id like '%${equipmentId}%'
            </if>
            <if test="equipmentName !=null and equipmentName !=''">
                and equ.equipment_name like '%${equipmentName}%'
            </if>
            <if test="deviceName !=null and deviceName !=''">
                and dev.device_name like '%${deviceName}%'
            </if>
            <if test="processName !=null and processName !=''">
                and bpi.process_name like '%${processName}%'
            </if>
            <if test="alarmEventTitle !=null and alarmEventTitle !=''">
                and wae.alarm_event_title like '%${alarmEventTitle}%'
            </if>
            <if test="alarmType !=null and alarmType !=''">
                and wae.alarm_type like '%${alarmType}%'
            </if>
            <if test="alarmLevel !=null and alarmLevel !=''">
                and wae.alarm_level like '%${alarmLevel}%'
            </if>
            <if test="alarmEventContent !=null and alarmEventContent !=''">
                and wae.alarm_event_content like '%${alarmEventContent}%'
            </if>
            <if test="occurrenceTime !=null and occurrenceTime !=''">
                and mdr.occurrence_time like '%${occurrenceTime}%'
            </if>
        </where>
        <if test="order !=null and order !=''">
            order by ${field} ${order}
        </if>
        <if test="limit !=null and limit !=''">
            limit ${begin},${limit}
        </if>
    </select>

</mapper>
