<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zimax.mcrs.device.mapper.DeviceUpgradeMapper">

    <!--查询记录数-->
    <select id="count" resultType="int">
        SELECT
        count(*)
        FROM
        dev_upgrade AS upg
        LEFT JOIN
        eqi_equipment AS eqi
        ON upg.equipment_int=eqi.equipment_int
        LEFT JOIN
        eqi_device AS dev
        ON upg.device_id=dev.device_id
        LEFT JOIN
        upd_upload AS upl
        ON upg.upload_id=upl.upload_id
        <where>
            <if test="equipmentId !=null and equipmentId !=''">
                and eqi.equipment_id like '%${equipmentId}%'
            </if>
            <if test="upgradeVersion !=null and upgradeVersion !=''">
                and upg.upgrade_version like '%${upgradeVersion}%'
            </if>
        </where>
    </select>

    <!--查询所有-->
    <select id="queryAll" parameterType="map" resultType="com.zimax.mcrs.device.pojo.DeviceUpgradeVo">
        SELECT
        upg.device_upgrade_id,
        upg.equipment_int,
        upg.device_id,
        upg.upload_id,
        upg.upgrade_status,
        upg.upgrade_version,
        upg.version_updater,
        upg.version_update_time,
        eqi.equipment_id,
        eqi.equipment_name,
        dev.device_name,
        dev.device_software_type,
        dev.factory_name,
        upl.upload_number
        FROM
        dev_upgrade AS upg
        LEFT JOIN
        eqi_equipment AS eqi
        ON upg.equipment_int=eqi.equipment_int
        LEFT JOIN
        eqi_device AS dev
        ON upg.device_id=dev.device_id
        LEFT JOIN
        upd_upload AS upl
        ON upg.upload_id=upl.upload_id
        <where>
            <if test="equipmentId !=null and equipmentId !=''">
                and eqi.equipment_id LIKE '%${equipmentId}%'
            </if>
            <if test="upgradeVersion !=null and upgradeVersion !=''">
                and upg.upgrade_version like '%${upgradeVersion}%'
            </if>
            <if test="versionUpdater !=null and versionUpdater !=''">
                and upg.version_updater like '%${versionUpdater}%'
            </if>
            <if test="versionUpdateTime !=null and versionUpdateTime !=''">
                and upg.version_update_time like '%${versionUpdateTime}%'
            </if>
        </where>
        <if test="order !=null and order !=''">
            order by ${field} ${order}
        </if>
        <if test="limit !=null and limit !=''">
            limit ${begin},${limit}
        </if>
    </select>


    <update id="updateDeviceUpgrade" parameterType="com.zimax.mcrs.device.pojo.DeviceUpgrade">
        UPDATE dev_upgrade
        SET equipment_int      = #{equipmentInt},
            device_id          = #{deviceId},
            upload_id          = #{uploadId},
            upgrade_version    = #{upgradeVersion},
            upgrade_status     = #{upgradeStatus},
            version_updater    = #{versionUpdater},
            version_update_time = #{versionUpdateTime},
            WHERE device_upgrade_id = ${deviceUpgradeId}
    </update>

    <!--新增用户-->
    <insert id="addDeviceUpgrade" parameterType="com.zimax.mcrs.device.pojo.DeviceUpgrade">
        insert into dev_upgrade
        values (#{deviceUpgradeId}, #{equipmentInt}, #{deviceId}, #{uploadId}, #{upgradeVersion}, #{upgradeStatus}, #{versionUpdater}, #{versionUpdateTime})
    </insert>

</mapper>
