<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zimax.mcrs.device.mapper.DeviceMapper">
    <!--查询所有-->
    <select id="queryDevice" resultType="com.zimax.mcrs.device.pojo.Device">
        select * from cap_device
    </select>

    <!---->
    <select id="addDevice" resultType="com.zimax.mcrs.device.pojo.Device">
        insert into cap_device values(null,#{roleCode},#{roleName})
    </select>


</mapper>
