<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zimax.components.coframe.org.mapper.EmployeeMapper">
    <select id="expandEntity"  resultType="com.zimax.components.coframe.org.pojo.Employee">
        select * from org_employee
        <where>
            <if test="empId !=null and empId !='' and empId!=0">
                and emp_id = ${empId}
            </if>
        </where>
    </select>

</mapper>
