<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zimax.components.coframe.org.mapper.EmpPositionMapper">
    <delete id="deleteEmpPositionByEmpId">
        delete from org_emp_position
         <where>
            <if test="empId !=null and empId !='' and empId!=0">
                and emp_id = ${empId}
            </if>
        </where>
    </delete>
    <delete id="deleteEmpPositionByEP">
        delete from org_emp_position
        <where>
            <if test="empId !=null and empId !='' and empId!=0">
                and emp_id = ${empId}
            </if>
            <if test="positionId !=null and positionId !='' and positionId!=0">
                and position_id = ${positionId}
            </if>
        </where>
    </delete>

</mapper>