<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zimax.mcrs.device.mapper.EquipmentMapper">

    <!--    查询记录数-->
    <select id="count" resultType="int">
        select count(*) from eqi_equipment
        <where>
            <if test="equipmentId !=null and equipmentId !=''">
                and equipment_id like '%${equipmentId}%'
            </if>
            <if test="equipmentName !=null and equipmentName !=''">
                and equipment_name like '%${equipmentName}%'
            </if>
        </where>
    </select>

    <!--查询所有-->
    <select id="queryAll" parameterType="map" resultType="com.zimax.mcrs.device.pojo.Equipment">
        select * from eqi_equipment
        <where>
            <if test="equipmentId !=null and equipmentId !=''">
                and equipment_id like '%${equipmentId}%'
            </if>
            <if test="equipmentName !=null and equipmentName !=''">
                and equipment_name like '%${equipmentName}%'
            </if>
        </where>
        <if test="order !=null and order !=''">
            order by ${field} ${order}
        </if>
        <if test="limit !=null and limit !=''">
            limit ${begin},${limit}
        </if>
    </select>

    <!--添加设备-->
    <insert id="addEquipment" parameterType="com.zimax.mcrs.device.pojo.Equipment">
        insert into eqi_equipment
        values (#{equipmentInt}, #{equipmentId}, #{equipmentName}, #{enabledState},
                #{equipmentProperties}, #{mesContinueIp}, #{equipmentInstallLocation},
                #{equipmentContinuePort}, #{createTime}, #{remarks}, #{creator})
    </insert>

    <!--根据主键删除设备-->
    <delete id="removeEquipment" parameterType="int">
        delete
        from eqi_equipment
        where equipment_int = #{equipmentInt}
    </delete>

    <!--更新1条设备信息-->
    <update id="updateEquipment" parameterType="com.zimax.mcrs.device.pojo.Equipment">
        update eqi_equipment
        set equipment_id=#{equipmentId},
            equipment_name=#{equipmentName},
            equipment_install_location=#{equipmentInstallLocation},
            equipment_properties=#{equipmentProperties},
            equipment_continue_port=#{equipmentContinuePort},
            mes_continue_ip=#{mesContinueIp},
            enabled_state=#{enabledState},
            remarks=#{remarks},
            creator=#{creator},
            create_time=#{createTime}
        where equipment_int=#{equipmentInt}
    </update>


</mapper>
