<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zimax.mcrs.device.mapper.EquipmentMapper">

    <!--查询所有-->
    <select id="queryAll" resultType="com.zimax.mcrs.device.pojo.Equipment">
        select * from cap_equipment
    </select>

    <!--依据条件查询-->
    <select id="query" resultType="com.zimax.mcrs.device.pojo.Equipment">
        select * from cap_equipment
    </select>

    <!--添加设备-->
    <insert id="addEquipment" parameterType="com.zimax.mcrs.device.pojo.Equipment">
        insert into cap_qeuipment values (#{equipmentId}, #{equipmentName}, #{equipmentInstallLocation},
                                          #{equipmentProperties}, #{equipmentContinuePort}, #{mesContinueIp},
                                          #{enabledState}, #{remarks}, #{creator}, #{createTime})
    </insert>

    <!--删除设备-->
    <delete id="removeEquipment" parameterType="int">
        delete from cap_qeuipment where equipment_id = #{equipmentId}
    </delete>

    <!--更新1条设备信息-->
    <update id="updateEquipment" parameterType="com.zimax.mcrs.device.pojo.Equipment">
        update cap_qeuipment set equipment_name=#{equipmentName},equipment_install_location=#{equipmentInstallLocation},
                                 equipment_properties=#{equipmentProperties},equipment_continue_port=#{equipmentContinuePort},
                                 mes_continue_ip = #{mesContinueIp}, enabled_state = #{enabledState},remarks = #{remarks},
                                 creator = #{creator}, create_time=#{createTime} where equipment_id=#{equipmentId}
    </update>



</mapper>
