<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zimax.mcrs.basic.equipTypeMaintain.mapper.EquipMapper">
    <!--添加设备基础数据-->
    <insert id="addEquipInfo" parameterType="com.zimax.mcrs.basic.equipTypeMaintain.pojo.EquipTypeInfo">
        insert into base_equip_info
        values (#{equipTypeId}, #{infoId}, #{equipTypeCode}, #{equipTypeEnable}, #{manufacturer}, #{equipTypeName},
                #{equipControllerModel}, #{protocolCommunication},
                #{mesIpAddress}, #{remarks},
                #{creator}, #{createTime}, #{updater}, #{updateTime})
    </insert>

    <!--    查询记录数-->
    <select id="count" resultType="int">
        SELECT
        count(*),
        b.USER_NAME AS accCreatorName,
        c.USER_NAME AS accUpdaterName
        FROM
        base_equip_info a
        LEFT JOIN cap_user b ON a.creator = b.USER_ID
        LEFT JOIN cap_user c ON a.updater = c.USER_ID
        <where>
            <if test="equipTypeCode !=null and equipTypeCode !=''">
                and a.equip_type_code like '%${equipTypeCode}%'
            </if>
            <if test="equipTypeName !=null and equipTypeName !=''">
                and a.equip_type_name like '%${equipTypeName}%'
            </if>
            <if test="equipTypeEnable !=null and equipTypeEnable !=''">
                and a.equip_type_enable like '%${equipTypeEnable}%'
            </if>
            <if test="manufacturer !=null and manufacturer !=''">
                and a.manufacturer like '%${manufacturer}%'
            </if>
            <if test="equipControllerModel !=null and equipControllerModel !=''">
                and a.equip_controller_model like '%${equipControllerModel}%'
            </if>
            <if test="protocolCommunication !=null and protocolCommunication !=''">
                and a.protocol_communication like '%${manufacturer}%'
            </if>
            <if test="mesIpAddress !=null and mesIpAddress !=''">
                and a.mes_ip_address like '%${mesIpAddress}%'
            </if>
            <if test="equipCreatorName !=null and equipCreatorName !=''">
                and b.USER_NAME like '%${equipCreatorName}%'
            </if>
            <if test="createTime !=null and createTime !=''">
                and a.create_time like '%${createTime}%'
            </if>
            <if test="equipUpdaterName !=null and equipUpdaterName !=''">
                and c.USER_NAME like '%${equipUpdaterName}%'
            </if>
            <if test="updateTime !=null and updateTime !=''">
                and a.update_time like '%${updateTime}%'
            </if>
        </where>
    </select>

    <!--列表显示-->
    <select id="queryEquipInfos" parameterType="map"
            resultType="com.zimax.mcrs.basic.equipTypeMaintain.pojo.EquipTypeInfoVo">
        SELECT
        a.equip_type_id,
        a.equip_type_code,
        a.equip_type_name,
        a.equip_type_enable,
        a.manufacturer,
        a.equip_controller_model,
        a.protocol_communication,
        a.mes_ip_address,
        a.remarks,
        b.USER_NAME AS equipCreatorName,
        a.create_time,
        c.USER_NAME AS equipUpdaterName,
        a.update_time
        FROM
        base_equip_info a
        LEFT JOIN cap_user b ON a.creator = b.USER_ID
        LEFT JOIN cap_user c ON a.updater = c.USER_ID
        <where>
            <if test="equipTypeCode !=null and equipTypeCode !=''">
                and a.equip_type_code like '%${equipTypeCode}%'
            </if>
            <if test="equipTypeName !=null and equipTypeName !=''">
                and a.equip_type_name like '%${equipTypeName}%'
            </if>
            <if test="equipTypeEnable !=null and equipTypeEnable !=''">
                and a.equip_type_enable like '%${equipTypeEnable}%'
            </if>
            <if test="manufacturer !=null and manufacturer !=''">
                and a.manufacturer like '%${manufacturer}%'
            </if>
            <if test="equipControllerModel !=null and equipControllerModel !=''">
                and a.equip_controller_model like '%${equipControllerModel}%'
            </if>
            <if test="protocolCommunication !=null and protocolCommunication !=''">
                and a.protocol_communication like '%${manufacturer}%'
            </if>
            <if test="mesIpAddress !=null and mesIpAddress !=''">
                and a.mes_ip_address like '%${mesIpAddress}%'
            </if>
            <if test="equipCreatorName !=null and equipCreatorName !=''">
                and b.USER_NAME like '%${equipCreatorName}%'
            </if>
            <if test="createTime !=null and createTime !=''">
                and a.create_time like '%${createTime}%'
            </if>
            <if test="equipUpdaterName !=null and equipUpdaterName !=''">
                and c.USER_NAME like '%${equipUpdaterName}%'
            </if>
            <if test="updateTime !=null and updateTime !=''">
                and a.update_time like '%${updateTime}%'
            </if>
        </where>
        <if test="order !=null and order !=''">
            order by ${field} ${order}
        </if>
        <if test="limit !=null and limit !=''">
            limit ${begin},${limit}
        </if>
    </select>

    <!--高级搜索中的设备类型下拉框-->
    <select id="getEquipTypeName" resultType="com.zimax.mcrs.basic.equipTypeMaintain.pojo.EquipTypeInfo">
        SELECT
            equip_type_id,
            equip_type_name
        FROM
            base_equip_info
        GROUP BY  equip_type_name
    </select>



    <!--更新一条选中信息-->
    <update id="updateEquipInfo" parameterType="com.zimax.mcrs.basic.equipTypeMaintain.pojo.EquipTypeInfo">
        UPDATE base_equip_info
        SET
            equip_type_enable      = #{equipTypeEnable},
            manufacturer           = #{manufacturer},
            equip_type_name        = #{equipTypeName},
            equip_controller_model = #{equipControllerModel},
            protocol_communication = #{protocolCommunication},
            mes_ip_address         = #{mesIpAddress},
            remarks                = #{remarks},
            updater                = #{updater},
            update_time            = #{updateTime}
        WHERE equip_type_id = ${equipTypeId}
    </update>

    <!--    批量删除-->
    <delete id="deleteEquipInfos" parameterType="java.util.List">
        delete from base_equip_info where equip_type_id in
        <foreach collection="list" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <!--批量启用-->
    <update id="enable" parameterType="java.util.List">
        update base_equip_info
        set equip_type_enable = #{equipTypeEnable},
            updater=#{updater},
            update_time=#{updateTime}
        where equip_type_id = ${equipTypeId}
    </update>



</mapper>
