<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zimax.mcrs.monitor.mapper.EquipmentRuntimeMapper">

    <!--    plc查询记录数-->
    <select id="countEQP" resultType="int">
        select count(dev.device_name)
        FROM
        mon_device_real AS mdr
        LEFT JOIN eqi_device AS dev ON mdr.app_id = dev.app_id
        LEFT JOIN eqi_equipment AS equ ON dev.equipment_int = equ.equipment_int
        <where>
            <if test="equipmentId !=null and equipmentId !=''">
                and equ.equipment_id like '%${equipmentId}%'
            </if>
            <if test="plcStatus !=null and plcStatus !=''">
                and mdr.plc_status like '%${accessStatus}%'
            </if>
        </where>

    </select>
    <!--查询plc运行状态信息-->
    <select id="queryEquipmentAccessP" parameterType="map"
            resultType="com.zimax.mcrs.monitor.pojo.vo.EquipmentStatusVo">
        SELECT
        dev.device_id,
        equ.equipment_int,
        equ.equipment_id,
        equ.equipment_name,
        mdr.plc_status,
        mdr.plc_monitor_time
        FROM
        mon_device_real AS mdr
        LEFT JOIN eqi_device AS dev ON mdr.app_id = dev.app_id
        LEFT JOIN eqi_equipment AS equ ON dev.equipment_int = equ.equipment_int
        <where>
            <if test="equipmentId !=null and equipmentId !=''">
                and equ.equipment_id like '%${equipmentId}%'
            </if>
            <if test="plcStatus !=null and plcStatus !=''">
                and mdr.plc_status like '%${plcStatus}%'
            </if>
        </where>
        <if test="order !=null and order !=''">
            order by ${field} ${order}
        </if>
        <if test="limit !=null and limit !=''">
            limit ${begin},${limit}
        </if>
    </select>

    <!--RFID查询记录数-->
    <select id="countEQR" resultType="int">
        select count(dev.device_name)
        FROM
        mon_device_real AS mdr
        LEFT JOIN eqi_device AS dev ON mdr.app_id = dev.app_id
        LEFT JOIN eqi_equipment AS equ ON dev.equipment_int = equ.equipment_int
        <where>
            <if test="equipmentId !=null and equipmentId !=''">
                and equ.equipment_id like '%${equipmentId}%'
            </if>
            <if test="rfidStatus !=null and rfidStatus !=''">
                and mdr.rfid_status like '%${rfidStatus}%'
            </if>
            <if test="antennaStatus !=null and antennaStatus !=''">
                and mdr.antenna_status like '%${antennaStatus}%'
            </if>
        </where>

    </select>
    <!--查询RFID运行状态信息-->
    <select id="queryEquipmentAccessR" parameterType="map"
            resultType="com.zimax.mcrs.monitor.pojo.vo.EquipmentStatusVo">
        SELECT
        dev.device_id,
        equ.equipment_int,
        equ.equipment_id,
        equ.equipment_name,
        mdr.rfid_status,
        mdr.antenna_status,
        mdr.rfid_monitor_time
        FROM
        mon_device_real AS mdr
        LEFT JOIN eqi_device AS dev ON mdr.app_id = dev.app_id
        LEFT JOIN eqi_equipment AS equ ON dev.equipment_int = equ.equipment_int
        <where>
            <if test="equipmentId !=null and equipmentId !=''">
                and equ.equipment_id like '%${equipmentId}%'
            </if>
            <if test="rfidStatus !=null and rfidStatus !=''">
                and mdr.rfid_status like '%${rfidStatus}%'
            </if>
            <if test="antennaStatus !=null and antennaStatus !=''">
                and mdr.antenna_status like '%${antennaStatus}%'
            </if>
        </where>
        <if test="order !=null and order !=''">
            order by ${field} ${order}
        </if>
        <if test="limit !=null and limit !=''">
            limit ${begin},${limit}
        </if>
    </select>


    <select id="findEquipmentId" resultType="com.zimax.mcrs.device.pojo.Equipment">
        SELECT
        eqt.equipment_id
        FROM eqi_equipment AS eqt
        LEFT JOIN eqi_device AS ede ON eqt.equipment_int = ede.equipment_int
        WHERE ede.app_id = #{appId}
    </select>





</mapper>