<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zimax.mcrs.device.mapper.EquipmentMapper">

    <!--    查询记录数-->
    <select id="count" resultType="int">
        SELECT count(*) FROM eqi_equipment AS eqi
        LEFT JOIN base_equip_info AS bei ON eqi.equip_type_id = bei.equip_type_id
        LEFT JOIN base_access_info AS bai ON eqi.acc_point_res_id = bai.acc_point_res_id
        LEFT JOIN base_process_info AS bpi ON bai.process_code = bpi.process_code
        <where>
            <if test="equipmentId !=null and equipmentId !=''">
                and eqi.equipment_id like '%${equipmentId}%'
            </if>
            <if test="equipmentName !=null and equipmentName !=''">
                and eqi.equipment_name like '%${equipmentName}%'
            </if>
        </where>
    </select>

    <!--查询所有-->
    <select id="queryAll" parameterType="map" resultType="com.zimax.mcrs.device.pojo.EquipmentVo">
        SELECT * FROM eqi_equipment AS eqi
        LEFT JOIN base_equip_info AS bei ON eqi.equip_type_id = bei.equip_type_id
        LEFT JOIN base_access_info AS bai ON eqi.acc_point_res_id = bai.acc_point_res_id
        LEFT JOIN base_process_info AS bpi ON bai.process_code = bpi.process_code
        <where>
            <if test="equipmentId !=null and equipmentId !=''">
                and eqi.equipment_id like '%${equipmentId}%'
            </if>
            <if test="equipmentName !=null and equipmentName !=''">
                and eqi.equipment_name like '%${equipmentName}%'
            </if>
            <if test="processName !=null and processName !=''">
                and bpi.process_name like '%${processName}%'
            </if>
        </where>
        <if test="order !=null and order !=''">
            order by ${field} ${order}
        </if>
        <if test="limit !=null and limit !=''">
            limit ${begin},${limit}
        </if>
    </select>

    <!--添加设备-->
    <insert id="addEquipment" parameterType="com.zimax.mcrs.device.pojo.Equipment">
        insert into eqi_equipment
        values (#{equipmentInt}, #{equipmentId}, #{equipmentName}, #{equipmentInstallLocation},
                #{equipTypeId}, #{equipmentContinuePort}, #{equipmentIp},
                #{accPointResId}, #{enable}, #{creator}, #{createTime},
                #{remarks})
    </insert>

    <!--根据主键删除设备-->
    <delete id="removeEquipment" parameterType="int">
        delete
        from eqi_equipment
        where equipment_int = #{equipmentInt}
    </delete>

    <!--更新1条设备信息-->
    <update id="updateEquipment" parameterType="com.zimax.mcrs.device.pojo.Equipment">
        update eqi_equipment
        set equipment_id=#{equipmentId},
            equipment_name=#{equipmentName},
            equipment_install_location=#{equipmentInstallLocation},
            equip_type_id=#{equipTypeId},
            equipment_continue_port=#{equipmentContinuePort},
            equipment_ip=#{equipmentIp},
            acc_point_res_id=#{accPointResId},
            enable=#{enable},
            remarks=#{remarks}
        where equipment_int=#{equipmentInt}
    </update>

    <!--  批量删除-->
    <delete id="deleteEquipments" parameterType="java.util.List">
        delete from eqi_equipment where equipment_int in
        <foreach collection="list" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>


    <!--查询设备资源号-->
    <select id="checkEquipmentId" resultType="int">
        select count(*)
        from eqi_equipment
        where equipment_id = #{equipmentId}
    </select>

</mapper>
