<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zimax.mcrs.monitor.mapper.EquipmentRuntimeMapper">

    <!--    plc查询记录数-->
    <select id="countEQP" resultType="int">
        select count(*) from mon_equipment_status a
        LEFT JOIN eqi_equipment b ON a.equipment_id = b.equipment_id
        <where>
            a.access_type="101"
            <if test="equipmentId !=null and equipmentId !=''">
                and a.equipment_id like '%${equipmentId}%'
            </if>
            <if test="accessStatus !=null and accessStatus !=''">
                and a.access_status like '%${accessStatus}%'
            </if>
        </where>

    </select>
    <!--查询plc运行状态信息-->
    <select id="queryEquipmentAccessP" parameterType="map" resultType="com.zimax.mcrs.monitor.pojo.EquipmentStatus">
        select * from mon_equipment_status a
        LEFT JOIN eqi_equipment b ON a.equipment_id = b.equipment_id
        <where>
            a.access_type="101"
            <if test="equipmentId !=null and equipmentId !=''">
                and a.equipment_id like '%${equipmentId}%'
            </if>
            <if test="accessStatus !=null and accessStatus !=''">
                and a.access_status like '%${accessStatus}%'
            </if>
        </where>
        <if test="order !=null and order !=''">
            order by ${field} ${order}
        </if>
        <if test="limit !=null and limit !=''">
            limit ${begin},${limit}
        </if>
    </select>

    <!--RFID查询记录数-->
    <select id="countEQR" resultType="int">
        select count(*) from mon_equipment_status a
        LEFT JOIN eqi_equipment b ON a.equipment_id = b.equipment_id
        <where>
            a.access_type="102"
            <if test="equipmentId !=null and equipmentId !=''">
                and a.equipment_id like '%${equipmentId}%'
            </if>
            <if test="accessStatus !=null and accessStatus !=''">
                and a.access_status like '%${accessStatus}%'
            </if>
            <if test="antennaStatus !=null and antennaStatus !=''">
                and a.antenna_status like '%${antennaStatus}%'
            </if>
        </where>

    </select>
    <!--查询RFID运行状态信息-->
    <select id="queryEquipmentAccessR" parameterType="map" resultType="com.zimax.mcrs.monitor.pojo.EquipmentStatus">
        select * from mon_equipment_status a
        LEFT JOIN eqi_equipment b ON a.equipment_id = b.equipment_id
        <where>
            a.access_type="102"
            <if test="equipmentId !=null and equipmentId !=''">
                and a.equipment_id like '%${equipmentId}%'
            </if>
            <if test="accessStatus !=null and accessStatus !=''">
                and a.access_status like '%${accessStatus}%'
            </if>
            <if test="antennaStatus !=null and antennaStatus !=''">
                and a.antenna_status like '%${antennaStatus}%'
            </if>
        </where>
        <if test="order !=null and order !=''">
            order by ${field} ${order}
        </if>
        <if test="limit !=null and limit !=''">
            limit ${begin},${limit}
        </if>
    </select>
</mapper>