<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zimax.mcrs.monitor.mapper.EquipmentRuntimeMapper">

    <!--    plc查询记录数-->
    <select id="countEQP" resultType="int">
        select count(*)
        FROM
        mon_device_real AS mdr
        LEFT JOIN eqi_device AS dev ON mdr.device_name = dev.device_name
        LEFT JOIN eqi_equipment AS equ ON dev.equipment_int = equ.equipment_int
        <where>
            and mdr.device_exists = 0 AND mdr.access_type = "101"
            <if test="equipmentId !=null and equipmentId !=''">
                and equ.equipment_id like '%${equipmentId}%'
            </if>
            <if test="accessStatus !=null and accessStatus !=''">
                and mdr.access_status like '%${accessStatus}%'
            </if>
        </where>

    </select>
    <!--查询plc运行状态信息-->
    <select id="queryEquipmentAccessP" parameterType="map"
            resultType="com.zimax.mcrs.monitor.pojo.vo.EquipmentStatusVo">
        SELECT
        mdr.device_real_id,
        dev.device_id,
        equ.equipment_int,
        equ.equipment_id,
        equ.equipment_name,
        mdr.access_type,
        mdr.access_status
        FROM
        mon_device_real AS mdr
        LEFT JOIN eqi_device AS dev ON mdr.device_name = dev.device_name
        LEFT JOIN eqi_equipment AS equ ON dev.equipment_int = equ.equipment_int
        <where>
            and mdr.device_exists = 0 AND mdr.access_type = "101"
            <if test="equipmentId !=null and equipmentId !=''">
                and equ.equipment_id like '%${equipmentId}%'
            </if>
            <if test="accessStatus !=null and accessStatus !=''">
                and mdr.access_status like '%${accessStatus}%'
            </if>
        </where>
        <if test="order !=null and order !=''">
            order by ${field} ${order}
        </if>
        <if test="limit !=null and limit !=''">
            limit ${begin},${limit}
        </if>
    </select>

    <!--RFID查询记录数-->
    <select id="countEQR" resultType="int">
        select count(*)
        FROM
        mon_device_real AS mdr
        LEFT JOIN eqi_device AS dev ON mdr.device_name = dev.device_name
        LEFT JOIN eqi_equipment AS equ ON dev.equipment_int = equ.equipment_int
        <where>
            AND mdr.device_exists = 0
            AND mdr.access_type = "102"
            <if test="equipmentId !=null and equipmentId !=''">
                and equ.equipment_id like '%${equipmentId}%'
            </if>
            <if test="accessStatus !=null and accessStatus !=''">
                and mdr.access_status like '%${accessStatus}%'
            </if>
            <if test="antennaStatus !=null and antennaStatus !=''">
                and mdr.antenna_status like '%${antennaStatus}%'
            </if>
        </where>

    </select>
    <!--查询RFID运行状态信息-->
    <select id="queryEquipmentAccessR" parameterType="map"
            resultType="com.zimax.mcrs.monitor.pojo.vo.EquipmentStatusVo">
        SELECT
        mdr.device_real_id,
        dev.device_id,
        equ.equipment_int,
        equ.equipment_id,
        equ.equipment_name,
        mdr.access_type,
        mdr.access_status,
        mdr.antenna_status
        FROM
        mon_device_real AS mdr
        LEFT JOIN eqi_device AS dev ON mdr.device_name = dev.device_name
        LEFT JOIN eqi_equipment AS equ ON dev.equipment_int = equ.equipment_int
        <where>
            AND mdr.device_exists = 0
            AND mdr.access_type = "102"
            <if test="equipmentId !=null and equipmentId !=''">
                and equ.equipment_id like '%${equipmentId}%'
            </if>
            <if test="accessStatus !=null and accessStatus !=''">
                and mdr.access_status like '%${accessStatus}%'
            </if>
            <if test="antennaStatus !=null and antennaStatus !=''">
                and mdr.antenna_status like '%${antennaStatus}%'
            </if>
        </where>
        <if test="order !=null and order !=''">
            order by ${field} ${order}
        </if>
        <if test="limit !=null and limit !=''">
            limit ${begin},${limit}
        </if>
    </select>
</mapper>