<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zimax.mcrs.basic.matrixInfo.factoryInfoMaintain.mapper.FactoryMapper">
    <!--添加工厂基础数据-->
    <insert id="addFactoryInfo" parameterType="com.zimax.mcrs.basic.matrixInfo.factoryInfoMaintain.pojo.FactoryInfo">
        insert into base_factory_info
        values (#{factoryId}, #{matrixId}, #{factoryName}, #{factoryCode}, #{factoryAddress},
                #{creator}, #{createTime}, #{updater}, #{updateTime})
    </insert>

    <!--    &lt;!&ndash;    主键删除&ndash;&gt;-->
    <!--    <delete id="deleteFactory" parameterType="int">-->
    <!--        delete-->
    <!--        from bas_factory_info-->
    <!--        where factory_id = #{factoryId}-->
    <!--    </delete>-->


    <!--查询工厂记录数（树表）-->
    <select id="count" resultType="int">
        select count(*) from base_factory_info
        <where>
            <if test="infoId !=null and infoId !=''">
                and info_id like '%${infoId}%'
            </if>
        </where>
    </select>

    <!--列表显示工厂数据（树表）-->
    <select id="queryFactoryInfos" parameterType="map"
            resultType="com.zimax.mcrs.basic.matrixInfo.factoryInfoMaintain.pojo.FactoryInfoVo">
        select * from base_factory_info
        <where>
            <if test="infoId !=null and infoId !=''">
                and info_id like '%${infoId}%'
            </if>
        </where>
        <if test="order !=null and order !=''">
            order by ${field} ${order}
        </if>
        <if test="limit !=null and limit !=''">
            limit ${begin},${limit}
        </if>
    </select>

    <!--查询工厂记录数（无树表）-->
    <select id="countNode" resultType="int">
        SELECT count(*)
        FROM base_factory_info
        WHERE matrix_id = #{nodeId}
    </select>

    <!--列表显示工厂数据（无树表）-->
    <select id="queryFactoryInfosNode" parameterType="map"
            resultType="com.zimax.mcrs.basic.matrixInfo.factoryInfoMaintain.pojo.FactoryInfoVo">
        SELECT *
        FROM base_factory_info
        WHERE matrix_id = #{nodeId}
        <if test="order !=null and order !=''">
            order by ${field} ${order}
        </if>
        <if test="limit !=null and limit !=''">
            limit ${begin},${limit}
        </if>
    </select>

    <!--列表显示-->
    <select id="queryFactoryInfosTree" parameterType="map"
            resultType="com.zimax.mcrs.basic.matrixInfo.factoryInfoMaintain.pojo.FactoryInfo">
        select *
        from base_factory_info
    </select>

    <!--接入点编辑，初始化下拉框，获取全部的工厂代码-->
    <select id="selectListInit" parameterType="map"
            resultType="com.zimax.mcrs.basic.matrixInfo.factoryInfoMaintain.pojo.FactoryInfoVo">
        SELECT
        *
        FROM base_factory_info a
        LEFT JOIN base_matrix_info b ON a.matrix_id = b.matrix_id
        <where>
            <if test="matrixCode !=null and matrixCode !=''">
                and matrix_code = #{matrixCode}
            </if>
        </where>
    </select>
    <select id="countFactory" resultType="int">
        SELECT count(*)
        FROM base_factory_info a
        LEFT JOIN base_matrix_info b ON a.matrix_id = b.matrix_id
        <where>
            <if test="matrixCode !=null and matrixCode !=''">
                and matrix_code = #{matrixCode}
            </if>
        </where>
    </select>

    <!--更新一条选中信息-->
    <update id="updateFactoryInfo" parameterType="com.zimax.mcrs.basic.matrixInfo.factoryInfoMaintain.pojo.FactoryInfo">
        UPDATE base_factory_info
        SET factory_name    = #{factoryName},
            factory_address = #{factoryAddress},
            updater         = #{updater},
            update_time     = #{updateTime}
        WHERE factory_id = ${factoryId}
    </update>

    <!--    <select id="countFactory" resultType="int">-->
    <!--        select count(*) from FROM base_factory_info a LEFT JOIN base_tree b ON a.info_id = b.info_id-->
    <!--        WHERE logic_states = "0" AND parent_id=#{infoId}-->
    <!--    </select>-->

    <!--接入点新增，通过基地代码（父id）,查询工厂代码-->
    <select id="selectList" parameterType="map"
            resultType="com.zimax.mcrs.basic.matrixInfo.factoryInfoMaintain.pojo.FactoryInfo">
        SELECT *
        FROM base_factory_info
        <where>
            <if test="matrixId !=null and matrixId !=''">
                and matrix_id =#{matrixId}
            </if>
        </where>

    </select>

    <!--接入点新增，通过工厂代码查询工厂名称-->
    <select id="getFactoryName" resultType="com.zimax.mcrs.basic.matrixInfo.factoryInfoMaintain.pojo.FactoryInfo">
        SELECT * FROM base_factory_info
        <where>
            <if test="factoryCode !=null and factoryCode !=''">
                and factory_code = #{factoryCode}
            </if>
        </where>
    </select>

    <delete id="removeFactory" parameterType="int">
        delete
        from base_factory_info
        where factory_id = #{realId}
    </delete>

    <!--查询指定工厂下的工序数-->
    <select id="countFactoryProcess" resultType="int">
        SELECT COUNT(*)
        FROM
        base_process_info a
        LEFT JOIN base_factory_info b ON a.factory_id = b.factory_id
        <where>
            <if test="factoryId !=null and factoryId !=''">
                and a.factory_id = #{factoryId}
            </if>
        </where>
    </select>

    <!--通过树id查询出当前的工厂信息（基础数据树）-->
    <select id="queryFactoryNode" resultType="com.zimax.mcrs.basic.matrixInfo.factoryInfoMaintain.pojo.FactoryInfo">
        SELECT *
        FROM base_factory_info
        <where>
            <if test="factoryId !=null and factoryId !=''">
                and factory_id = #{nodeId}
            </if>
        </where>
    </select>

    <select id="checkFactoryNameAdd" resultType="int">
        select count(*)
        from base_factory_info
        where factory_name = #{factoryName}
          and matrix_id = #{parentId}
    </select>

    <select id="checkFactoryNameEdit" resultType="int">
        select count(*)
        from base_factory_info
        where factory_name = #{factoryName}
          and matrix_id = #{matrixId}
          and factory_id != #{parentId}
    </select>

    <select id="getFactory" resultType="com.zimax.mcrs.basic.matrixInfo.factoryInfoMaintain.pojo.FactoryInfo">
        select *
        from base_factory_info
        where factory_id = #{parentId}
    </select>


</mapper>

