<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zimax.mcrs.basic.accPointResMaintain.factoryInfoMaintain.mapper.FactoryMapper">
    <!--添加工厂基础数据-->
    <insert id="addFactoryInfo" parameterType="com.zimax.mcrs.basic.accPointResMaintain.factoryInfoMaintain.pojo.FactoryInfo">
        insert into bas_factory_info
        values (#{factoryId}, #{factoryName}, #{factoryCode}, #{factoryEnable}, #{factoryAddress})
    </insert>

    <!--    主键删除-->
    <delete id="deleteFactory" parameterType="int">
        delete
        from bas_factory_info
        where factory_id = #{factoryId}
    </delete>
</mapper>

