<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zimax.mcrs.basic.matrixInfo.factoryInfoMaintain.mapper.FactoryMapper">
    <!--添加工厂基础数据-->
    <insert id="addFactoryInfo" parameterType="com.zimax.mcrs.basic.matrixInfo.factoryInfoMaintain.pojo.FactoryInfo">
        insert into base_factory_info
        values (#{factoryId}, #{infoId}, #{factoryName}, #{factoryCode}, #{factoryAddress},
                #{creator}, #{createTime}, #{updater}, #{updateTime})
    </insert>

    <!--    &lt;!&ndash;    主键删除&ndash;&gt;-->
    <!--    <delete id="deleteFactory" parameterType="int">-->
    <!--        delete-->
    <!--        from bas_factory_info-->
    <!--        where factory_id = #{factoryId}-->
    <!--    </delete>-->
    <!--    查询记录数-->
    <select id="count" resultType="int">
        select count(*) from base_factory_info
        <where>
            <if test="infoId !=null and infoId !=''">
                and info_id like '%${infoId}%'
            </if>
        </where>
    </select>

    <!--列表显示-->
    <select id="queryFactoryInfos" parameterType="map"
            resultType="com.zimax.mcrs.basic.matrixInfo.factoryInfoMaintain.pojo.FactoryInfoVo">
        select * from base_factory_info
        <where>
            <if test="infoId !=null and infoId !=''">
                and info_id like '%${infoId}%'
            </if>
        </where>
        <if test="order !=null and order !=''">
            order by ${field} ${order}
        </if>
        <if test="limit !=null and limit !=''">
            limit ${begin},${limit}
        </if>
    </select>

    <!--更新一条选中信息-->
    <update id="updateFactoryInfo" parameterType="com.zimax.mcrs.basic.matrixInfo.factoryInfoMaintain.pojo.FactoryInfo">
        UPDATE base_factory_info
        SET info_id         = #{infoId},
            factory_name    = #{factoryName},
            factory_code    = #{factoryCode},
            factory_address = #{factoryAddress},
            create_time     = #{creator},
            create_time     = #{createTime,jdbcType=DATE},
            updater         = #{updater},
            update_time     = #{updateTime,jdbcType=DATE}
        WHERE factory_id = ${factoryId}
    </update>

<!--    <select id="countFactory" resultType="int">-->
<!--        select count(*) from FROM base_factory_info a LEFT JOIN base_tree b ON a.info_id = b.info_id-->
<!--        WHERE logic_states = "0" AND parent_id=#{infoId}-->
<!--    </select>-->

    <!--列表显示-->
    <select id="selectList" parameterType="map" resultType="com.zimax.mcrs.basic.matrixInfo.factoryInfoMaintain.pojo.FactoryInfoVo">
        SELECT a.info_id, a.factory_code, a.factory_name
        FROM base_factory_info a LEFT JOIN base_tree b ON a.info_id = b.info_id
        WHERE logic_states = "0" AND parent_id=#{infoId}

    </select>

    <select id="getFactoryName" resultType="com.zimax.mcrs.basic.matrixInfo.factoryInfoMaintain.pojo.FactoryInfo">
        SELECT * FROM base_factory_info
        <where>
            <if test="factoryCode !=null and factoryCode !=''">
                and factory_code like '%${factoryCode}%'
            </if>
        </where>
    </select>
</mapper>

