<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zimax.mcrs.report.mapper.FeedingReportMapper">

    <!--添加上料报表-->
    <insert id="addFeeding" parameterType="com.zimax.mcrs.report.pojo.Feeding">
        insert into rep_feeding
        values (#{id},#{operation}, #{resource}, #{actionType}, #{axis}, #{sfcPre}, #{processLotPre},
                #{qty}, #{sfc}, #{isFinish},#{diamRealityValue}, #{downInfo}, #{revision}, #{createdBy}, #{createdTime},
                #{updatedBy}, #{updatedTime})
    </insert>

    <!--    查询记录数-->
    <select id="count" resultType="int">
        select count(*) from rep_feeding
        <where>
            <if test="resource !=null and resource !=''">
                and resource like '%${resource}%'
            </if>
            <if test="operation !=null and operation !=''">
                and operation like '%${operation}%'
            </if>
            <if test="actionType !=null and actionType !=''">
                and actionType like '%${actionType}%'
            </if>
            <if test="axis !=null and axis !=''">
                and axis like '%${axis}%'
            </if>
            <if test="sfcPre !=null and sfcPre !=''">
                and sfcPre like '%${sfcPre}%'
            </if>
            <if test="processLotPre !=null and processLotPre !=''">
                and processLotPre like '%${processLotPre}%'
            </if>
            <if test="qty !=null and qty !=''">
                and qty like '%${qty}%'
            </if>
            <if test="sfc !=null and sfc !=''">
                and sfc like '%${sfc}%'
            </if>
            <if test="isFinish !=null and isFinish !=''">
                and isFinish like '%${isFinish}%'
            </if>
            <if test="diamRealityValue !=null and diamRealityValue !=''">
                and diamRealityValue like '%${diamRealityValue}%'
            </if>
            <if test="createdBy !=null and createdBy !=''">
                and createdBy like '%${createdBy}%'
            </if>
            <if test="updatedBy !=null and updatedBy !=''">
                and updatedBy like '%${updatedBy}%'
            </if>
            <if test="startTime !=null and startTime!=''">
                and createdTime &gt;= #{startTime}
            </if>
            <if test="endTime !=null and endTime !=''">
                and createdTime &lt;= #{endTime}
            </if>
        </where>
    </select>
    <!--查询所有报表信息-->
    <!--列表显示-->
    <select id="queryFeedings" parameterType="map" resultType="com.zimax.mcrs.report.pojo.Feeding">
        select * from rep_feeding
        <where>
            <if test="resource !=null and resource !=''">
                and resource like '%${resource}%'
            </if>
            <if test="operation !=null and operation !=''">
                and operation like '%${operation}%'
            </if>
            <if test="actionType !=null and actionType !=''">
                and actionType like '%${actionType}%'
            </if>
            <if test="axis !=null and axis !=''">
                and axis like '%${axis}%'
            </if>
            <if test="sfcPre !=null and sfcPre !=''">
                and sfcPre like '%${sfcPre}%'
            </if>
            <if test="processLotPre !=null and processLotPre !=''">
                and processLotPre like '%${processLotPre}%'
            </if>
            <if test="qty !=null and qty !=''">
                and qty like '%${qty}%'
            </if>
            <if test="sfc !=null and sfc !=''">
                and sfc like '%${sfc}%'
            </if>
            <if test="isFinish !=null and isFinish !=''">
                and isFinish like '%${isFinish}%'
            </if>
            <if test="diamRealityValue !=null and diamRealityValue !=''">
                and diamRealityValue like '%${diamRealityValue}%'
            </if>
            <if test="createdBy !=null and createdBy !=''">
                and createdBy like '%${createdBy}%'
            </if>
            <if test="updatedBy !=null and updatedBy !=''">
                and updatedBy like '%${updatedBy}%'
            </if>
            <if test="startTime !=null and startTime!=''">
                and createdTime &gt;= #{startTime}
            </if>
            <if test="endTime !=null and endTime !=''">
                and createdTime &lt;= #{endTime}
            </if>
        </where>
        <if test="order !=null and order !=''">
            order by ${field} ${order}
        </if>
        <if test="limit !=null and limit !=''">
            limit ${begin},${limit}
        </if>
    </select>


</mapper>
