<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zimax.components.coframe.framework.mapper.FunctionMapper">
    <!--    查询记录数-->
    <select id="count" resultType="int">
        select count(*) from app_function
        <where>
            <if test="funcGroupId !=null and funcGroupId !=''">
                and func_group_id = '${funcGroupId}'
            </if>
        </where>
    </select>
    <!-- 查询所有的功能 -->
    <select id="queryAllFunctions" resultType="com.zimax.components.coframe.framework.pojo.Function">
        select * from app_function
    </select>
    <!--查询所有-->
    <select id="queryFunctions" parameterType="map" resultType="com.zimax.components.coframe.framework.pojo.Function">
        select * from app_function
        <where>
            <if test="funcGroupId !=null and funcGroupId !=''">
                and func_group_id = '${funcGroupId}'
            </if>
        </where>
        <if test="order !=null and order !=''">
            order by ${field} ${order}
        </if>
        <if test="limit !=null and limit !=''">
            limit ${begin},${limit}
        </if>
    </select>
    <!--    获取单个应用-->
    <select id="getFunction" resultType="com.zimax.components.coframe.framework.pojo.Function" >
        select * from app_function where func_code = #{funcCode}
    </select>
    <!--    新增应用-->
    <insert id="addFunction" parameterType="com.zimax.components.coframe.framework.pojo.Function">
        insert into app_function values(#{funcCode},#{funcName},#{funcDesc},#{funcAction},#{paraInfo},
          #{isCheck},#{funcType},#{displayOrder},#{isMenu},#{appInfo},#{tenantId},#{funcGroupId})
    </insert>
    <!--    主键删除-->
    <delete id="deleteFunction" parameterType="int">
        delete from app_function where func_code = #{funcCode}
    </delete>
    <!--    更新1条应用信息-->
    <update id="updateFunction" parameterType="com.zimax.components.coframe.framework.pojo.Function">
        update app_function set func_name=#{funcName},is_menu=#{isMenu},is_check=#{isCheck},func_type=#{funcType},
            display_order=#{displayOrder},func_action=#{funcAction},para_info=#{paraInfo},
            func_desc=#{funcDesc} where func_code=#{funcCode}
    </update>
    <!--    批量删除-->
    <delete id="deleteFunctions" parameterType="java.util.List">
        delete from app_function where func_code in
        <foreach collection="list" item="id"  separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
