<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zimax.components.coframe.framework.mapper.FuncResourceMapper">
    <!--    查询记录数-->
    <select id="count" resultType="int">
        select count(*) from app_func_resource
        <where>
            <if test="funcCode !=null and funcCode !=''">
                and func_code = #{funcCode}
            </if>
        </where>
    </select>

    <select id="queryAllFuncResources" resultType="com.zimax.components.coframe.framework.pojo.FuncResource">
        select * from app_func_resource
    </select>

    <!--查询所有-->
    <select id="queryFuncResources" parameterType="map" resultType="com.zimax.components.coframe.framework.pojo.FuncResource">
        select * from app_func_resource
        <where>
            <if test="funcCode !=null and funcCode !=''">
                and func_code = #{funcCode}
            </if>
        </where>
        <if test="order !=null and order !=''">
            order by ${field} ${order}
        </if>
        <if test="limit !=null and limit !=''">
            limit ${begin},${limit}
        </if>
    </select>

    <!--    新增功能资源-->
    <insert id="addFuncResource" parameterType="com.zimax.components.coframe.framework.pojo.FuncResource">
        insert into app_func_resource values(#{resId},#{funcCode},#{resType},#{resPath},#{comPackName},
                                           #{resName},#{appInfo},#{tenantId})
    </insert>
    <!--    主键删除-->
    <delete id="deleteFuncResource" parameterType="int">
        delete from app_func_resource where res_id = #{resId}
    </delete>
    <!--    更新1条应用信息-->
    <update id="updateFuncResource" parameterType="com.zimax.components.coframe.framework.pojo.FuncResource">
        update app_func_resource set res_name=#{resName},res_type=#{resType},res_path=#{resPath},com_pack_name=#{comPackName}
                                  where res_id=#{resId}
    </update>
    <!--    批量删除-->
    <delete id="deleteFuncResources" parameterType="java.util.List">
        delete from app_func_resource where res_id in
        <foreach collection="list" item="id"  separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
