<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zimax.mcrs.basic.logDeleteRule.mapper.LogDeleteRuleMapper">

    <!--查询记录数-->
    <select id="count" resultType="int">
        SELECT count(*) FROM bas_log_delete_rule
        <where>
            <if test="deleteRuleNum !=null and deleteRuleNum !=''">
                and delete_rule_num like '%${deleteRuleNum}%'
            </if>
        </where>
    </select>

    <!--查询所有-->
    <select id="queryAll" parameterType="map" resultType="com.zimax.mcrs.basic.logDeleteRule.pojo.LogDeleteRuleVo">
        SELECT * FROM bas_log_delete_rule
        <where>
            <if test="deleteRuleNum !=null and deleteRuleNum !=''">
                and delete_rule_num like '%${deleteRuleNum}%'
            </if>
            <if test="deleteRuleTitle !=null and deleteRuleTitle !=''">
                and delete_rule_title like '%${deleteRuleTitle}%'
            </if>
            <if test="ruleLevel !=null and ruleLevel !=''">
                and rule_level like '%${ruleLevel}%'
            </if>
            <if test="deleteRuleType !=null and deleteRuleType !=''">
                and delete_rule_type like '%${deleteRuleType}%'
            </if>
            <if test="creator !=null and creator !=''">
                and creator like '%${creator}%'
            </if>
        </where>
        <if test="order !=null and order !=''">
            order by ${field} ${order}
        </if>
        <if test="limit !=null and limit !=''">
            limit ${begin},${limit}
        </if>
    </select>

    <!--添加日志删除规则-->
    <insert id="addLogDeleteRule" parameterType="com.zimax.mcrs.basic.logDeleteRule.pojo.LogDeleteRule">
        insert into bas_log_delete_rule
        values (#{ruleDeleteId}, #{deleteRuleNum}, #{deleteRuleTitle}, #{enable},
                #{ruleLevel}, #{deleteRuleType}, #{timeInterval},
                #{timeUnit}, #{creator}, #{createTime}, #{updater},
                #{updateTime})
    </insert>

    <!--根据主键删除预警事件-->
    <delete id="removeLogDeleteRule" parameterType="int">
        delete
        from bas_log_delete_rule
        where rule_delete_id = #{ruleDeleteId}
    </delete>

    <!--更新日志删除规则-->
    <update id="updateLogDeleteRule" parameterType="com.zimax.mcrs.basic.logDeleteRule.pojo.LogDeleteRule">
        update bas_log_delete_rule
        set delete_rule_num=#{deleteRuleNum},
            delete_rule_title=#{deleteRuleTitle},
            enable=#{enable},
            rule_level=#{ruleLevel},
            delete_rule_type=#{deleteRuleType},
            time_interval=#{timeInterval},
            time_unit=#{timeUnit},
            updater=#{updater},
            update_time=#{updateTime}
        where rule_delete_id = #{ruleDeleteId}
    </update>

<!--    批量删除-->
    <delete id="deleteLogDeleteRules" parameterType="java.util.List">
        delete from bas_log_delete_rule where rule_delete_id in
        <foreach collection="list" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>


    <select id="checkLogDeleteRule" resultType="int">
        select count(*)
        from bas_log_delete_rule
        where delete_rule_num = #{deleteRuleNum}
    </select>

<!--批量启用-->
    <update id="enable" parameterType="java.util.List">
        update bas_log_delete_rule set enable = 'on' where rule_delete_id in
        <foreach collection="list" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </update>

</mapper>
