<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zimax.mcrs.log.mapper.LoginLogMapper">

    <!--    查询记录数-->
    <select id="count" resultType="int">
        SELECT count(*)
        FROM log_log AS ll
        LEFT JOIN eqi_equipment AS eqi
        ON ll.`equipment_int` = eqi.`equipment_int`
        LEFT JOIN eqi_device AS dev
        ON ll.`device_id` = dev.`device_id`
        LEFT JOIN cap_user AS cur
        ON ll.`user_id` = cur.`USER_ID`
        <where>
            ll.log_type = '101'
            <if test="equipmentId !=null and equipmentId !=''">
                and eqi.equipment_id like '%${equipmentId}%'
            </if>
            <if test="equipmentName !=null and equipmentName !=''">
                and eqi.equipment_name like '%${equipmentName}%'
            </if>
            <if test="source !=null and source !=''">
                and ll.source like '%${source}%'
            </if>
            <if test="loginUserName !=null and loginUserName !=''">
                and cur.USER_NAME like '%${loginUserName}%'
            </if>
            <if test="loginTime !=null and loginTime !=''">
                and ll.login_time like '%${loginTime}%'
            </if>
        </where>
    </select>

    <!--查询所有-->
    <select id="queryAll" parameterType="map" resultType="com.zimax.mcrs.log.pojo.LoginLogVo">
        SELECT
        eqi.`equipment_id`,
        eqi.`equipment_name`,
        dev.`app_id`,
        ll.`source`,
        cur.`USER_NAME` AS loginUserName,
        ll.`login_time`
        FROM log_log AS ll
        LEFT JOIN eqi_equipment AS eqi
        ON ll.`equipment_int` = eqi.`equipment_int`
        LEFT JOIN eqi_device AS dev
        ON ll.`device_id` = dev.`device_id`
        LEFT JOIN cap_user AS cur
        ON ll.`user_id` = cur.`USER_ID`
        <where>
            ll.log_type = '101'
            <if test="equipmentId !=null and equipmentId !=''">
                and eqi.equipment_id like '%${equipmentId}%'
            </if>
            <if test="equipmentName !=null and equipmentName !=''">
                and eqi.equipment_name like '%${equipmentName}%'
            </if>
            <if test="source !=null and source !=''">
                and ll.source like '%${source}%'
            </if>
            <if test="loginUserName !=null and loginUserName !=''">
                and cur.USER_NAME like '%${loginUserName}%'
            </if>
            <if test="loginTime !=null and loginTime !=''">
                and ll.login_time like '%${loginTime}%'
            </if>
        </where>
        <if test="order !=null and order !=''">
            order by ${field} ${order}
        </if>
        <if test="limit !=null and limit !=''">
            limit ${begin},${limit}
        </if>
    </select>

    <!--添加登录日志-->
    <insert id="addLoginLog" parameterType="com.zimax.mcrs.log.pojo.LoginLog">
        insert into log_log (log_id,log_type,equipment_int,device_id,source,user_id,login_time,create_time)
        values (#{logId}, #{logType}, #{equipmentInt}, #{deviceId}, #{source},
                #{userId}, #{loginTime}, #{createTime})
    </insert>



</mapper>
