<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zimax.mcrs.basic.matrixInfo.matrix.mapper.MatrixMapper">
    <!--添加基地基础数据-->
    <insert id="addMatrix" parameterType="com.zimax.mcrs.basic.matrixInfo.matrix.pojo.Matrix">
        insert into base_matrix_info
        values (#{matrixId}, #{parentId}, #{matrixName}, #{matrixCode}, #{matrixAddress},
                #{creator}, #{createTime}, #{updater}, #{updateTime})
    </insert>

    <select id="count" resultType="int">
        select count(*) from base_matrix_info
        <where>
            <if test="infoId !=null and infoId !=''">
                and info_id like '%${infoId}%'
            </if>
        </where>
    </select>

    <!--列表显示-->
    <select id="queryMatrix" parameterType="map" resultType="com.zimax.mcrs.basic.matrixInfo.matrix.pojo.MatrixVo">
        select * from base_matrix_info
        <where>
            <if test="infoId !=null and infoId !=''">
                and info_id like '%${infoId}%'
            </if>
        </where>
        <if test="order !=null and order !=''">
            order by ${field} ${order}
        </if>
        <if test="limit !=null and limit !=''">
            limit ${begin},${limit}
        </if>
    </select>

    <!--列表显示-->
    <select id="queryMatrixTree" parameterType="map" resultType="com.zimax.mcrs.basic.matrixInfo.matrix.pojo.Matrix">
        select *
        from base_matrix_info
    </select>


    <!--新增接入点信息显示选择基地代码-->
    <select id="selectList" parameterType="map" resultType="com.zimax.mcrs.basic.matrixInfo.matrix.pojo.Matrix">
        SELECT *
        FROM base_matrix_info
    </select>

    <!--新增接入点信息显示选择基地代码-->
    <select id="countMatrix" resultType="int">
        select count(*)
        from base_matrix_info
    </select>


    <!--更新一条选中信息-->
    <update id="updateMatrix" parameterType="com.zimax.mcrs.basic.matrixInfo.matrix.pojo.Matrix">
        UPDATE base_matrix_info
        SET matrix_name    = #{matrixName},
            matrix_address = #{matrixAddress},
            updater        = #{updater},
            update_time    = #{updateTime}
        WHERE matrix_id = ${matrixId}
    </update>

    <!--接入点新增，通过基地代码查询基地名称-->
    <select id="getMatrixName" resultType="com.zimax.mcrs.basic.matrixInfo.matrix.pojo.Matrix">
        SELECT *
        FROM base_matrix_info
        <where>
            <if test="matrixCode !=null and matrixCode !=''">
                and matrix_code like '%${matrixCode}%'
            </if>
        </where>
    </select>

    <delete id="removeMatrix" parameterType="int">
        delete
        from base_matrix_info
        where matrix_id = #{matrixId}
    </delete>

    <!--查询指定基地下的工厂数-->
    <select id="countMatrixFactory" resultType="int">
        SELECT COUNT(*)
        FROM
        base_factory_info a
        LEFT JOIN base_matrix_info b ON a.matrix_id = b.matrix_id
        <where>
            <if test="matrixId !=null and matrixId !=''">
                and a.matrix_id = #{matrixId}
            </if>
        </where>
    </select>

    <!--通过树id查询出当前的基地信息（基础数据树）-->
    <select id="queryMatrixNode" resultType="com.zimax.mcrs.basic.matrixInfo.matrix.pojo.Matrix">
        SELECT *
        FROM base_matrix_info
        <where>
            <if test="matrixId !=null and matrixId !=''">
                and matrix_id = #{nodeId}
            </if>
        </where>
    </select>

    <select id="checkMatrixNameAdd" resultType="int">
        select count(*)
        from base_matrix_info
        where matrix_name = #{matrixName}
          and parent_id = #{parentId}
    </select>

    <select id="checkMatrixNameEdit" resultType="int">
        select count(*)
        from base_matrix_info
        where matrix_name = #{matrixName}
          and matrix_id != #{parentId}
    </select>
</mapper>