<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zimax.components.coframe.framework.mapper.MenuMapper">

    <!--    查询记录数-->
    <select id="count" resultType="int">
        select count(*) from app_menu
        <where>
            <if test="menuId !=null and menuId !=''">
                and menu_id = '${menuId}'
            </if>
        </where>
    </select>
    <!--查询所有菜单-->
    <select id="queryMenus" parameterType="map" resultType="com.zimax.components.coframe.framework.pojo.Menu">
        select * from app_menu
        <where>
            <if test="menuId !=null and menuId !=''">
                and menu_id = '${menuId}'
            </if>
        </where>
        <if test="order !=null and order !=''">
            order by ${field} ${order}
        </if>
        <if test="limit !=null and limit !=''">
            limit ${begin},${limit}
        </if>
    </select>

    <!--    新增菜单-->
    <insert id="addMenu" parameterType="com.zimax.components.coframe.framework.pojo.Menu" >
        insert into app_menu values (#{menuId}, #{parentMenuId}, #{menuName}, #{menuLabel}, #{menuCode}, #{isLeaf}, #{menuAction},
                #{parameter},#{menuLevel},#{displayOrder}, #{imagePath}, #{expandPath}, #{menuSeq}, #{openMode}, #{subCount}, #{appId},
                #{funcCode}, #{appInfo}, #{tenantId})
    </insert>

    <!--    主键删除-->
    <delete id="deleteMenu" parameterType="string">
        delete
        from app_menu
        where menu_id = #{menuId}
    </delete>
    <!--    更新一条菜单信息-->
    <update id="updateMenu" parameterType="com.zimax.components.coframe.framework.pojo.Menu">
        UPDATE app_menu
        SET parent_menu_id = #{parentMenuId},
            menu_name      = #{menuName},
            menu_label     = #{menuLabel},
            menu_code      = #{menuCode},
            is_leaf        = #{isLeaf},
            menu_action    = #{menuAction},
            parameter      = #{parameter},
            menu_level     = #{menuLevel},
            display_order  = #{displayOrder},
            image_path     = #{imagePath},
            expand_path    = #{expandPath},
            menu_seq       = #{menuSeq},
            open_mode      = #{openMode},
            sub_count      = #{subCount},
            app_id         = #{appId},
            func_code      = #{funcCode},
            app_info       = #{appInfo},
            tenant_id      = #{tenantId}
        WHERE menu_id = #{menuId}
    </update>
    <!--    批量删除-->
    <delete id="deleteMenus" parameterType="java.util.List">
        delete from app_menu where menu_id in
        <foreach collection="list" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <!--    获取单个菜单-->
    <select id="getMenu" resultType="com.zimax.components.coframe.framework.pojo.Menu">
        select *
        from app_menu
        where menu_id = #{menuId}
    </select>

    <select id="countMenu" resultType="int">
        select count(*) from app_menu
        <where>
            <if test='parentMenuId !="root" and parentMenuId !="" and parentMenuId!=null'>
                and parent_menu_id = #{parentMenuId}
            </if>
        </where>
    </select>
    <!--查询所有菜单-->
    <select id="queryMenuList" parameterType="map" resultType="com.zimax.components.coframe.framework.pojo.Menu">
        select * from app_menu
        <where>
            <if test="parentMenuId=='root' or parentMenuId =='' or parentMenuId==null">
                and parent_menu_id = ''or parent_menu_id is null
            </if>
            <if test="parentMenuId !='root' and parentMenuId !='' and parentMenuId!=null">
                and parent_menu_id = #{parentMenuId}
            </if>
        </where>
        <if test="order !=null and order !=''">
            order by ${field} ${order}
        </if>
        <if test="limit !=null and limit !=''">
            limit ${begin},${limit}
        </if>
    </select>


</mapper>