<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zimax.mcrs.log.mapper.OperationLogMapper">

    <!--查询所有操作日志-->
    <select id="queryAll" parameterType="map" resultType="com.zimax.mcrs.log.pojo.OperationLogVo">
        SELECT
        ll.log_status,
        ll.operation_type,
        ll.operation_content,
        ll.result,
        cur.USER_NAME AS operateName,
        ll.operation_time
        FROM log_log AS ll
        LEFT JOIN cap_user AS cur
        ON ll.user = cur.USER_ID
        <where>
            ll.log_type = '103'
            <if test="logStatus !=null and logStatus !=''">
                and ll.log_status like '%${logStatus}%'
            </if>
            <if test="operationType !=null and operationType !=''">
                and ll.operation_type like '%${operationType}%'
            </if>
            <if test="operationTime !=null and operationTime !=''">
                and ll.operation_time like '%${operationTime}%'
            </if>
            <if test="result !=null and result !=''">
                and ll.result like '%${result}%'
            </if>
            <if test="operateName !=null and operateName !=''">
                and cur.USER_NAME like '%${operateName}%'
            </if>
        </where>
        <if test="order !=null and order !=''">
            order by ${field} ${order}
        </if>
        <if test="limit !=null and limit !=''">
            limit ${begin},${limit}
        </if>
    </select>


    <!--查询记录数-->
    <select id="count" resultType="int">
        select
        count(*)
        FROM log_log AS ll
        LEFT JOIN cap_user AS cur
        ON ll.user = cur.USER_ID
        <where>
            ll.log_type = '103'
            <if test="logStatus !=null and logStatus !=''">
                and ll.log_status like '%${logStatus}%'
            </if>
            <if test="operationType !=null and operationType !=''">
                and ll.operation_type like '%${operationType}%'
            </if>
            <if test="operationTime !=null and operationTime !=''">
                and ll.operation_time like '%${operationTime}%'
            </if>
            <if test="result !=null and result !=''">
                and ll.result like '%${result}%'
            </if>
            <if test="operateName !=null and operateName !=''">
                and cur.USER_NAME like '%${operateName}%'
            </if>
        </where>
    </select>


    <!--添加操作日志-->
    <insert id="addOperationLog" parameterType="com.zimax.mcrs.log.pojo.OperationLog">
        insert into log_log (log_id,log_type,log_status,
                             operation_type,operation_content,
                             result,user,operation_time,create_time)
        values (#{logId}, #{logType}, #{logStatus}, #{operationType},
                #{operationContent}, #{result}, #{user},
                #{operationTime}, #{createTime})
    </insert>


<!--    <select id="getRole" resultType="com.zimax.components.coframe.rights.pojo.Role" >-->
<!--        select * from cap_role where role_id = #{roldId}-->
<!--    </select>-->
<!--    <insert id="addRole" parameterType="com.zimax.components.coframe.rights.pojo.Role">-->
<!--        insert into cap_role values(null,#{roleCode},#{roleName})-->
<!--    </insert>-->
<!--    <update id="updateRole" parameterType="com.zimax.components.coframe.rights.pojo.Role">-->
<!--        update cap_role set role_code=#{roleCode},role_name=#{roleNmae} where role_id=#{roleId}-->
<!--    </update>-->

</mapper>
