<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zimax.mcrs.log.mapper.PlcLogMapper">

    <!--    查询记录数-->
    <select id="count" resultType="int">
        SELECT count(*)
        FROM log_log AS ll
        LEFT JOIN eqi_equipment AS eqi
        ON ll.equipment_int = eqi.equipment_int
        LEFT JOIN eqi_device AS dev
        ON ll.device_id = dev.device_id
        LEFT JOIN cap_user AS cur
        ON ll.creator = cur.USER_ID
        <where>
            ll.log_type = '105'
            <if test="equipmentId !=null and equipmentId !=''">
                and eqi.equipment_id like '%${equipmentId}%'
            </if>
            <if test="equipmentName !=null and equipmentName !=''">
                and eqi.equipment_name like '%${equipmentName}%'
            </if>
            <if test="deviceName!=null and deviceName !=''">
                and dev.device_name like '%${deviceName}%'
            </if>
            <if test="plcGroupName !=null and plcGroupName !=''">
                and ll.plc_group_name like '%${plcGroupName}%'
            </if>
            <if test="groupType !=null and groupType !=''">
                and ll.group_type like '%${groupType}%'
            </if>
            <if test="tagName !=null and tagName !=''">
                and ll.tag_name like '%${tagName}%'
            </if>
            <if test="createName !=null and createName !=''">
                and cur.USER_NAME like '%${createName}%'
            </if>
            <if test="createTime !=null and createTime !=''">
                and ll.create_time like '%${createTime}%'
            </if>
        </where>
    </select>

    <!--查询所有-->
    <select id="queryAll" parameterType="map" resultType="com.zimax.mcrs.log.pojo.PlcLogVo">
        SELECT
        eqi.equipment_id,
        eqi.equipment_name,
        dev.app_id,
        dev.device_name,
        ll.plc_group_name,
        ll.group_type,
        ll.map_address,
        ll.tag_name,
        cur.USER_NAME AS createName,
        ll.create_time
        FROM log_log AS ll
        LEFT JOIN eqi_equipment AS eqi
        ON ll.equipment_int = eqi.equipment_int
        LEFT JOIN eqi_device AS dev
        ON ll.device_id = dev.device_id
        LEFT JOIN cap_user AS cur
        ON ll.creator = cur.USER_ID
        <where>
            ll.log_type = '105'
            <if test="equipmentId !=null and equipmentId !=''">
                and eqi.equipment_id like '%${equipmentId}%'
            </if>
            <if test="equipmentName !=null and equipmentName !=''">
                and eqi.equipment_name like '%${equipmentName}%'
            </if>
            <if test="deviceName!=null and deviceName !=''">
                and dev.device_name like '%${deviceName}%'
            </if>
            <if test="plcGroupName !=null and plcGroupName !=''">
                and ll.plc_group_name like '%${plcGroupName}%'
            </if>
            <if test="groupType !=null and groupType !=''">
                and ll.group_type like '%${groupType}%'
            </if>
            <if test="tagName !=null and tagName !=''">
                and ll.tag_name like '%${tagName}%'
            </if>
            <if test="createName !=null and createName !=''">
                and cur.USER_NAME like '%${createName}%'
            </if>
            <if test="createTime !=null and createTime !=''">
                and ll.create_time like '%${createTime}%'
            </if>
        </where>
        <if test="order !=null and order !=''">
            order by ${field} ${order}
        </if>
        <if test="limit !=null and limit !=''">
            limit ${begin},${limit}
        </if>
    </select>

    <!--添加Plc交换日志-->
    <insert id="addPlcLog" parameterType="com.zimax.mcrs.log.pojo.PlcLog">
        insert into log_log (log_id,log_type,equipment_int,device_id,plc_group_name,
                                 group_type,map_address,tag_name,creator,create_time)
        values (#{logId}, #{logType}, #{equipmentInt},
                #{deviceId},#{plcGroupName}, #{groupType},
                #{mapAddress}, #{tagName},#{creator},#{createTime})
    </insert>


</mapper>
