<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zimax.mcrs.log.mapper.PlcLogMapper">

    <!--    查询记录数-->
    <select id="count" resultType="int">
        SELECT count(*),cur.USER_NAME AS createName
        FROM log_plc_log AS lpl
        LEFT JOIN eqi_equipment AS eqi
        ON lpl.equipment_int = eqi.equipment_int
        LEFT JOIN eqi_device AS dev
        ON lpl.device_id = dev.device_id
        LEFT JOIN cap_user AS cur
        ON lpl.creator = cur.USER_ID
        <where>
            <if test="equipmentId !=null and equipmentId !=''">
                and eqi.equipment_id like '%${equipmentId}%'
            </if>
            <if test="deviceName!=null and deviceName !=''">
                and dev.device_name like '%${deviceName}%'
            </if>
            <if test="plcGroupName !=null and plcGroupName !=''">
                and lpl.plc_group_name like '%${plcGroupName}%'
            </if>
            <if test="groupType !=null and groupType !=''">
                and lpl.group_type like '%${groupType}%'
            </if>
            <if test="createTime !=null and createTime !=''">
                and lpl.create_time like '%${createTime}%'
            </if>
        </where>
    </select>

    <!--查询所有-->
    <select id="queryAll" parameterType="map" resultType="com.zimax.mcrs.log.pojo.PlcLogVo">
        SELECT *,cur.USER_NAME AS createName
        FROM log_plc_log AS lpl
        LEFT JOIN eqi_equipment AS eqi
        ON lpl.equipment_int = eqi.equipment_int
        LEFT JOIN eqi_device AS dev
        ON lpl.device_id = dev.device_id
        LEFT JOIN cap_user AS cur
        ON lpl.creator = cur.USER_ID
        <where>
            <if test="equipmentId !=null and equipmentId !=''">
                and eqi.equipment_id like '%${equipmentId}%'
            </if>
            <if test="deviceName!=null and deviceName !=''">
                and dev.device_name like '%${deviceName}%'
            </if>
            <if test="plcGroupName !=null and plcGroupName !=''">
                and lpl.plc_group_name like '%${plcGroupName}%'
            </if>
            <if test="groupType !=null and groupType !=''">
                and lpl.group_type like '%${groupType}%'
            </if>
            <if test="createTime !=null and createTime !=''">
                and lpl.create_time like '%${createTime}%'
            </if>
        </where>
        <if test="order !=null and order !=''">
            order by ${field} ${order}
        </if>
        <if test="limit !=null and limit !=''">
            limit ${begin},${limit}
        </if>
    </select>

    <!--添加Plc交换日志-->
    <insert id="addPlcLog" parameterType="com.zimax.mcrs.log.pojo.PlcLog">
        insert into log_plc_log
        values (#{plcLogId}, #{plcLogNum}, #{logType}, #{equipmentInt},
                #{deviceId}, #{plcGroupName}, #{groupType},
                #{mapAddress}, #{tagName}, #{creator},#{createTime})
    </insert>

    <!--删除-->
    <delete id="removePlcLog" parameterType="int">
        delete from log_plc_log where plc_log_id = #{plcLogId}
    </delete>


</mapper>
