<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zimax.mcrs.basic.matrixInfo.processInfoMaintain.mapper.ProcessMapper">
    <!--添加工序基础数据-->
    <insert id="addProcessInfo" parameterType="com.zimax.mcrs.basic.matrixInfo.processInfoMaintain.pojo.ProcessInfo">
        insert into base_process_info
        values (#{processId}, #{infoId}, #{processName}, #{processCode}, #{processRemarks},
                #{creator}, #{createTime}, #{updater}, #{updateTime})
    </insert>

    <!--    主键删除-->
    <delete id="deleteProcess" parameterType="int">
        delete
        from base_process_info
        where process_id = #{processId}
    </delete>

    <select id="count" resultType="int">
        select count(*) from base_process_info
        <where>
            <if test="infoId !=null and infoId !=''">
                and info_id like '%${infoId}%'
            </if>
        </where>
    </select>

    <!--列表显示-->
    <select id="queryProcessInfo" parameterType="map" resultType="com.zimax.mcrs.basic.matrixInfo.processInfoMaintain.pojo.ProcessInfoVo">
        select * from base_process_info
        <where>
            <if test="infoId !=null and infoId !=''">
                and info_id like '%${infoId}%'
            </if>
        </where>
        <if test="order !=null and order !=''">
            order by ${field} ${order}
        </if>
        <if test="limit !=null and limit !=''">
            limit ${begin},${limit}
        </if>
    </select>

    <select id="countProcess" resultType="int">
        SELECT count(*)
        FROM base_factory_info  a
        LEFT JOIN  base_tree b ON a.info_id = b.parent_id
        LEFT JOIN  base_process_info c ON b.info_id = c.info_id
        <where>
            logic_states = "0"
            <if test="factoryCode !=null and factoryCode !=''">
                and factory_code like '%${factoryCode}%'
            </if>
        </where>
    </select>

    <!--列表显示-->
    <select id="selectListInit" parameterType="map" resultType="com.zimax.mcrs.basic.matrixInfo.processInfoMaintain.pojo.ProcessInfoVo">
        SELECT *
        FROM base_factory_info  a
                 LEFT JOIN  base_tree b ON a.info_id = b.parent_id
                 LEFT JOIN  base_process_info c ON b.info_id = c.info_id
        <where>
            logic_states = "0"
            <if test="factoryCode !=null and factoryCode !=''">
                and factory_code like '%${factoryCode}%'
            </if>
        </where>
    </select>
    <!--更新一条选中信息-->
    <update id="updateProcessInfo" parameterType="com.zimax.mcrs.basic.matrixInfo.processInfoMaintain.pojo.ProcessInfo">
        UPDATE base_process_info
        SET info_id         = #{infoId},
            process_name    = #{processName},
            process_code    = #{processCode},
            process_remarks = #{processRemarks},
            create_time     = #{creator},
            create_time     = #{createTime,jdbcType=DATE},
            updater         = #{updater},
            update_time     = #{updateTime,jdbcType=DATE}
        WHERE process_id = ${processId}
    </update>
    <!--列表显示-->
    <select id="selectList" parameterType="map" resultType="com.zimax.mcrs.basic.matrixInfo.processInfoMaintain.pojo.ProcessInfoVo">
        SELECT a.info_id, a.process_code, a.process_name
        FROM base_process_info a LEFT JOIN base_tree b ON a.info_id = b.info_id
        WHERE logic_states = "0" AND parent_id=#{infoId}
    </select>

    <select id="getProcessNameDe" resultType="com.zimax.mcrs.basic.matrixInfo.processInfoMaintain.pojo.ProcessInfo">
        SELECT * FROM base_process_info
        <where>
            <if test="processCode !=null and processCode !=''">
                and process_code like '%${processCode}%'
            </if>
        </where>
    </select>
</mapper>
