<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zimax.mcrs.log.mapper.RfidLogMapper">

    <!--    查询记录数-->
    <select id="count" resultType="int">
        SELECT
        count(*)
        FROM log_log AS ll
        LEFT JOIN eqi_equipment AS eqi
        ON ll.equipment_int = eqi.equipment_int
        LEFT JOIN eqi_device AS dev
        ON ll.device_id = dev.device_id
        LEFT JOIN cap_user AS cur
        ON ll.creator = cur.USER_ID
        <where>
            ll.log_type  = '106'
            <if test="equipmentName !=null and equipmentName !=''">
                and eqi.equipment_name like '%${equipmentName}%'
            </if>
            <if test="deviceName!=null and deviceName !=''">
                and dev.device_name like '%${deviceName}%'
            </if>
            <if test="rfidId !=null and rfidId !=''">
                and ll.rfid_id like '%${rfidId}%'
            </if>
            <if test="parameterName !=null and parameterName !=''">
                and ll.parameter_name like '%${parameterName}%'
            </if>
            <if test="createTime !=null and createTime !=''">
                and ll.create_time like '%${createTime}%'
            </if>
        </where>
    </select>

    <!--查询所有-->
    <select id="queryAll" parameterType="map" resultType="com.zimax.mcrs.log.pojo.RfidLogVo">
        SELECT
        eqi.equipment_id,
        eqi.equipment_name,
        dev.app_id,
        dev.device_name,
        ll.rfid_id,
        eqi.equipment_ip,
        eqi.equipment_continue_port,
        ll.parameter_name,
        ll.parameter_num,
        cur.USER_NAME AS createName,
        ll.create_time
        FROM log_log AS ll
        LEFT JOIN eqi_equipment AS eqi
        ON ll.equipment_int = eqi.equipment_int
        LEFT JOIN eqi_device AS dev
        ON ll.device_id = dev.device_id
        LEFT JOIN cap_user AS cur
        ON ll.creator = cur.USER_ID
        <where>
            ll.log_type  = '106'
            <if test="equipmentName !=null and equipmentName !=''">
                and eqi.equipment_name like '%${equipmentName}%'
            </if>
            <if test="deviceName!=null and deviceName !=''">
                and dev.device_name like '%${deviceName}%'
            </if>
            <if test="rfidId !=null and rfidId !=''">
                and ll.rfid_id like '%${rfidId}%'
            </if>
            <if test="parameterName !=null and parameterName !=''">
                and ll.parameter_name like '%${parameterName}%'
            </if>
            <if test="createTime !=null and createTime !=''">
                and ll.create_time like '%${createTime}%'
            </if>
        </where>
        <if test="order !=null and order !=''">
            order by ${field} ${order}
        </if>
        <if test="limit !=null and limit !=''">
            limit ${begin},${limit}
        </if>
    </select>

    <!--添加Rfid交换日志-->
    <insert id="addRfidLog" parameterType="com.zimax.mcrs.log.pojo.RfidLog">
        insert into log_log (log_id,log_type,equipment_int,device_id,
                             rfid_id,parameter_name,parameter_num,creator,create_time)
        values (#{logId}, #{logType}, #{equipmentInt},
                #{deviceId}, #{rfidId}, #{parameterName},
                #{parameterNum}, #{creator}, #{createTime})
    </insert>

    <!--删除-->
    <delete id="removeRfidLog" parameterType="int">
        delete from log_rfid_log where rfid_log_id = #{rfidLogId}
    </delete>


</mapper>
