<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zimax.components.coframe.rights.mapper.RoleMapper">
    <!--    查询记录数-->
    <select id="count" resultType="int">
        select count(*) from cap_role
        <where>
            <if test="roleCode !=null and roleCode !=''">
                and role_code like '%${roleCode}%'
            </if>
            <if test="roleName !=null and roleName !=''">
                and role_name like '%${roleName}%'
            </if>
            <if test="roleString !=null and roleString !=''">
                and role_id in (${roleString})
            </if>

        </where>
    </select>
    <!--查询角色信息-->
    <select id="queryRoles" parameterType="map"  resultType="com.zimax.components.coframe.rights.pojo.Role">
        select * from cap_role
        <where>
            <if test="roleCode !=null and roleCode !=''">
                and role_code like '%${roleCode}%'
            </if>
            <if test="roleName !=null and roleName !=''">
                and role_name like '%${roleName}%'
            </if>
            <if test="roleString !=null and roleString !=''">
                and role_id in (${roleString})
            </if>
        </where>
        <if test="order !=null and order !=''">
            order by ${field} ${order}
        </if>
        <if test="limit !=null and limit !=''">
            limit ${begin},${limit}
        </if>

    </select>

    <!-- 根据参与者编号和参与者类型获取其拥有的角色 -->
    <select id="getRoleListByAuthParty" parameterType="com.zimax.components.coframe.rights.pojo.PartyAuth" resultType="com.zimax.components.coframe.rights.pojo.Role">
        SELECT b.* FROM cap_party_auth a LEFT JOIN cap_role b ON a.ROLE_ID = b.ROLE_ID WHERE a.PARTY_ID = #{partyId} AND a.PARTY_TYPE = #{partyType}
    </select>

    <!-- 根据角色编号列表获取角色列表 -->
    <select id="queryRolesByRoleIds" parameterType="java.util.List" resultType="com.zimax.components.coframe.rights.pojo.Role">
        select * from cap_role where role_id in
        <foreach collection="list" item="id"  separator="," open="(" close=")">
            #{id}
        </foreach>
    </select>
    <!--    获取单个角色-->
    <select id="getRole" resultType="com.zimax.components.coframe.rights.pojo.Role">
        select *
        from cap_role
        where role_id = #{roleId}
    </select>
    <!--    新增角色-->
    <insert id="addRole" parameterType="com.zimax.components.coframe.rights.pojo.Role">
        insert into cap_role
        values (#{roleId}, #{roleCode}, #{roleName}, #{roleDesc}, #{creator}, #{createTime})
    </insert>
    <!--    主键删除-->
    <delete id="deleteRole" parameterType="int">
        delete
        from cap_role
        where role_id = #{roleId}
    </delete>
    <!--    更新1条角色信息-->
    <update id="updateRole" parameterType="com.zimax.components.coframe.rights.pojo.Role">
        update cap_role
        set role_code=#{roleCode},
            role_name=#{roleName},
            role_desc=#{roleDesc},
            creator=#{creator},
            create_time=#{createTime}
        where role_id = #{roleId}
    </update>
    <!--    批量删除-->
    <delete id="deleteRoles" parameterType="java.util.List">
        delete from cap_role where role_id in
        <foreach collection="list" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
