<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zimax.components.coframe.rights.mapper.RoleMapper">

    <!--查询所有-->
    <select id="queryRoles" resultType="com.zimax.components.coframe.rights.pojo.Role">
        select * from cap_role
            where role_code like #{roleCode} and role_name like #{roleName}
    </select>
    <select id="getRole" resultType="com.zimax.components.coframe.rights.pojo.Role" >
        select * from cap_role where role_id = #{roldId}
    </select>
    <insert id="addRole" parameterType="com.zimax.components.coframe.rights.pojo.Role">
        insert into cap_role values(null,#{roleCode},#{roleName})
    </insert>
    <delete id="removeRole" parameterType="int">
        delete from cap_role where role_id = #{roldId}
    </delete>
    <update id="updateRole" parameterType="com.zimax.components.coframe.rights.pojo.Role">
        update cap_role set role_code=#{roleCode},role_name=#{roleNmae} where role_id=#{roleId}
    </update>

</mapper>
