<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zimax.mcrs.monitor.mapper.SoftwareRuntimeMapper">

    <!--    查询软件运行状态记录数-->
    <select id="countSO" resultType="int">
        select count(dev.device_name)
        FROM mon_device_real AS mdr
        LEFT JOIN eqi_device AS dev ON mdr.app_id = dev.app_id
        LEFT JOIN eqi_equipment AS equ ON dev.equipment_int = equ.equipment_int
        <where>
            <if test="equipmentId !=null and equipmentId !=''">
                and equ.equipment_id like '%${equipmentId}%'
            </if>
            <if test="equipmentName !=null and equipmentName !=''">
                and equ.equipment_name like '%${equipmentName}%'
            </if>
            <if test="deviceName !=null and deviceName !=''">
                and dev.device_name like '%${deviceName}%'
            </if>
            <if test="deviceSoftwareType !=null and deviceSoftwareType !=''">
                and dev.device_software_type like '%${deviceSoftwareType}%'
            </if>
            <if test="deviceSoftwareStatus !=null and deviceSoftwareStatus !=''">
                and mdr.device_software_status like '%${deviceSoftwareStatus}%'
            </if>
        </where>
    </select>

    <!--查询软件运行状态信息-->
    <select id="querySoRuntimes" parameterType="map" resultType="com.zimax.mcrs.monitor.pojo.vo.SoftwareRunStatusVo">
        SELECT
        dev.device_id,
        equ.equipment_int,
        dev.device_name,
        dev.device_software_type,
        mdr.app_id,
        equ.equipment_id,
        equ.equipment_name,
        mdr.device_software_status
        FROM mon_device_real AS mdr
        LEFT JOIN eqi_device AS dev ON mdr.app_id = dev.app_id
        LEFT JOIN eqi_equipment AS equ ON dev.equipment_int = equ.equipment_int
        <where>
            <if test="equipmentId !=null and equipmentId !=''">
                and equ.equipment_id like '%${equipmentId}%'
            </if>
            <if test="equipmentName !=null and equipmentName !=''">
                and equ.equipment_name like '%${equipmentName}%'
            </if>
            <if test="deviceName !=null and deviceName !=''">
                and dev.device_name like '%${deviceName}%'
            </if>
            <if test="deviceSoftwareType !=null and deviceSoftwareType !=''">
                and dev.device_software_type like '%${deviceSoftwareType}%'
            </if>
            <if test="deviceSoftwareStatus !=null and deviceSoftwareStatus !=''">
                and mdr.device_software_status like '%${deviceSoftwareStatus}%'
            </if>
        </where>
        <if test="order !=null and order !=''">
            order by ${field} ${order}
        </if>
        <if test="limit !=null and limit !=''">
            limit ${begin},${limit}
        </if>
    </select>

</mapper>