<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zimax.mcrs.monitor.mapper.SystemMonitorAlarmMapper">
    <!--查询系统监控预警信息记录数-->
    <select id="countSys" resultType="int">
        select count(*) from mon_device_abn
        <where>
            <if test="warningTitle !=null and warningTitle !=''">
                and warning_title like '%${warningTitle}%'
            </if>
            <if test="warningType !=null and warningType !=''">
                and warning_type like '%${warningType}%'
            </if>
            <if test="warningLevel !=null and warningLevel !=''">
                and warning_level like '%${warningLevel}%'
            </if>
            <if test="occurTime !=null and occurTime !=''">
                and DATE (occur_time) =#{occurTime}
            </if>
        </where>

    </select>
    <!--查询系统监控预警信息-->
    <select id="querySystemMonitorAlarm" parameterType="map" resultType="com.zimax.mcrs.monitor.pojo.vo.DeviceAbnVo">
        select * from mon_device_abn
        <where>
            <if test="warningTitle !=null and warningTitle !=''">
                and warning_title like '%${warningTitle}%'
            </if>
            <if test="warningType !=null and warningType !=''">
                and warning_type like '%${warningType}%'
            </if>
            <if test="warningLevel !=null and warningLevel !=''">
                and warning_level like '%${warningLevel}%'
            </if>
            <if test="occurTime !=null and occurTime !=''">
                and DATE (occur_time) =#{occurTime}
            </if>
        </where>
        <if test="order !=null and order !=''">
            order by ${field} ${order}
        </if>
        <if test="limit !=null and limit !=''">
            limit ${begin},${limit}
        </if>
    </select>

</mapper>