<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zimax.mcrs.equipment.mapper.TerminalMapper">
    <!--查询所有-->
    <select id="queryTerminal" resultType="com.zimax.mcrs.equipment.pojo.Terminal">
        select * from cap_terminal
    </select>

    <!--注册终端-->
    <select id="registrationTerminal" resultType = "com.zimax.mcrs.equipment.pojo.Equipment">
        insert into cap_terminal values(null, #{deviceVersion}, #{userName})
    </select>


</mapper>
