<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zimax.mcrs.update.mapper.UpdateUploadMapper">
    <!--添加更新包信息-->
    <insert id="addUpdateUpload" parameterType="com.zimax.mcrs.update.pojo.UpdateUpload">
        insert into upd_upload
        values (#{uploadId}, #{uploadNumber}, #{version}, #{deviceSoType}, #{uploadStrategy}, #{fileName}, #{uploader},
                #{versionUploadTime}, #{remarks}, #{majorVersion}, #{downloadUrl},
                #{uploadUuid}, #{uploadFileSize}, #{uploadFileType}, #{uuidFile}, #{updater}, #{versionUpdateTime})
    </insert>

    <!--查询更新包上传管理显示记录数-->
    <select id="queryUpdateUploadAll" parameterType="map" resultType="com.zimax.mcrs.update.pojo.UpdateUpload">
        SELECT
        *,b.USER_NAME AS uplName
        FROM upd_upload a
        LEFT JOIN cap_user b ON a.uploader = b.USER_ID
        <where>
            <if test="uploadNumber !=null and uploadNumber !=''">
                and upload_number like '%${uploadNumber}%'
            </if>
            <if test="version !=null and version !=''">
                and version like '%${version}%'
            </if>
            <if test="deviceSoType !=null and deviceSoType !=''">
                and device_so_type like '%${deviceSoType}%'
            </if>
            <if test="uploadStrategy !=null and uploadStrategy !=''">
                and upload_strategy like '%${uploadStrategy}%'
            </if>
            <if test="uploader !=null and uploader !=''">
                and uploader like '%${uploader}%'
            </if>
            <if test="versionUploadTime !=null and versionUploadTime !=''">
                and version_upload_time like '%${versionUploadTime}%'
            </if>
        </where>
        <if test="order !=null and order !=''">
            order by ${field} ${order}
        </if>
        <if test="limit !=null and limit !=''">
            limit ${begin},${limit}
        </if>
    </select>

    <!-- 查询更新包上传管理显示记录数-->
    <select id="countAll" resultType="int">
        select count(*) from upd_upload
        <where>
            <if test="uploadNumber !=null and uploadNumber !=''">
                and upload_number like '%${uploadNumber}%'
            </if>
            <if test="version !=null and version !=''">
                and version like '%${version}%'
            </if>
            <if test="deviceSoType !=null and deviceSoType !=''">
                and device_so_type like '%${deviceSoType}%'
            </if>
            <if test="uploadStrategy !=null and uploadStrategy !=''">
                and upload_strategy like '%${uploadStrategy}%'
            </if>
            <if test="uploader !=null and uploader !=''">
                and uploader like '%${uploader}%'
            </if>
            <if test="versionUploadTime !=null and versionUploadTime !=''">
                and version_upload_time like '%${versionUploadTime}%'
            </if>
        </where>
    </select>

    <!--查询升级更新包数据-->
    <select id="queryUpdateUpload" parameterType="map" resultType="com.zimax.mcrs.update.pojo.UpdateUpload">
        select * from upd_upload
        <where>
            version &gt; #{maxVersion} and
            device_so_type = #{deviceSoftwareType}
            <if test="version !=null and version !=''">
                and version like '%${version}%'
            </if>
            <if test="deviceSoType !=null and deviceSoType !=''">
                and device_so_type like '%${deviceSoType}%'
            </if>
        </where>
        <if test="order !=null and order !=''">
            order by ${field} ${order}
        </if>
        <if test="limit !=null and limit !=''">
            limit ${begin},${limit}
        </if>
    </select>

    <!-- 查询升级更新包数据记录数-->
    <select id="count" resultType="int">
        select count(*) from upd_upload
        <where>
            <if test="version !=null and version !=''">
                and version like '%${version}%'
            </if>
            <if test="deviceSoType !=null and deviceSoType !=''">
                and device_so_type like '%${deviceSoType}%'
            </if>
        </where>
    </select>

    <!--查询回退数据-->
    <select id="queryUpdateUploadRo" parameterType="map" resultType="com.zimax.mcrs.update.pojo.UpdateUpload">
        select * from upd_upload
        <where>
            version &lt; #{minVersion} and
            device_so_type = #{deviceSoftwareType}
            <if test="version !=null and version !=''">
                and version like '%${version}%'
            </if>
            <if test="deviceSoType !=null and deviceSoType !=''">
                and device_so_type like '%${deviceSoType}%'
            </if>
        </where>
        <if test="order !=null and order !=''">
            order by ${field} ${order}
        </if>
        <if test="limit !=null and limit !=''">
            limit ${begin},${limit}
        </if>
    </select>

    <!--    批量删除-->
    <delete id="deleteUpload" parameterType="java.util.List">
        delete from upd_upload where upload_id in
        <foreach collection="list" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <!--通过组件批量获取符合实体-->
    <select id="getUpload" parameterType="java.util.List" resultType="com.zimax.mcrs.update.pojo.UpdateUpload">
        select * from upd_upload where upload_id in
        <foreach collection="list" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </select>

    <!--通过uuidFile批量获取符合文件名-->
    <select id="getUploadFileName" resultType="string">
        select file_name from upd_upload
        <where>
            <if test="uuidFile !=null and uuidFile !=''">
                and uuid_file like '%${uuidFile}%'
            </if>
        </where>
    </select>

    <!--通过终端软件类型查询出最新的版本号-->
    <select id="getUpdateUpload" resultType="com.zimax.mcrs.update.pojo.UpdateUpload">
        SELECT * FROM upd_upload
        <where>
            <if test="deviceSoType !=null and deviceSoType !=''">
                and device_so_type like '%${deviceSoType}%'
            </if>
        </where>
        ORDER BY version_upload_time DESC
        LIMIT 1;
    </select>

    <!--获取一个更新包信息-->
    <select id="getUpdateUploadRecord" resultType="com.zimax.mcrs.update.pojo.UpdateUpload">
        select *
        from upd_upload
        where upload_id = #{uploadId}
    </select>

    <!--获取当前的软件类型的最新的更新包版本号-->
    <select id="getLastVersion" parameterType="map"
            resultType="com.zimax.mcrs.update.pojo.UpdateUpload">
        SELECT *
        FROM upd_upload
        <where>
            <if test="deviceSoType !=null and deviceSoType !=''">
                and device_so_type =#{deviceSoType}
            </if>
        </where>
        ORDER BY version_upload_time DESC
        LIMIT 1;
    </select>

    <!--更新一条更新包数据-->
    <update id="updateUpload" parameterType="com.zimax.mcrs.update.pojo.UpdateUpload">
        UPDATE upd_upload
        SET upload_strategy     = #{uploadStrategy},
            remarks             = #{remarks},
            updater             = #{updater},
            version_update_time = #{versionUpdateTime}
        WHERE upload_id = ${uploadId}
    </update>

    <!--通过终端id获取，终端选择更新包升级，添加升级记录之前的是否有这条记录的校验-->
    <select id="queryUpgradeCheck" parameterType="map" resultType="com.zimax.mcrs.device.pojo.DeviceUpgrade">
        SELECT *
        FROM dev_upgrade
        WHERE upgrade_status in (100, 101)
          AND device_id = #{deviceId}
          AND upload_id = #{uploadId}
    </select>

    <!--通过终端id获取，终端选择更新包升级，添加回退记录之前的是否有这条记录的校验-->
    <select id="queryRollbackCheck" parameterType="map" resultType="com.zimax.mcrs.device.pojo.DeviceRollback">
        SELECT *
        FROM dev_rollback
        WHERE upgrade_status in (100, 101)
          AND device_id = #{deviceId}
          AND upload_id = #{uploadId}
    </select>


</mapper>