<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zimax.mcrs.update.mapper.UpdateUploadMapper">
    <!--添加更新包信息-->
    <insert id="addUpdateUpload" parameterType="com.zimax.mcrs.update.pojo.UpdateUpload">
        insert into upd_upload
        values (#{uploadId}, #{uploadNumber}, #{version}, #{deviceSoType}, #{uploadStrategy}, #{fileName}, #{uploader},
                #{versionUploadTime}, #{remarks}, #{majorVersion}, #{downloadUrl},
                #{uploadUuid}, #{uploadFileSize}, #{uploadFileType}, #{uuidFile})
    </insert>

    <!--    查询记录数-->
    <select id="count" resultType="int">
        select count(*) from upd_upload
        <where>
            <if test="version !=null and version !=''">
                and version like '%${version}%'
            </if>
            <if test="deviceSoType !=null and deviceSoType !=''">
                and device_so_type like '%${deviceSoType}%'
            </if>
        </where>
    </select>

    <!--查询更新包数据-->
    <select id="queryUpdateUploadAll" parameterType="map" resultType="com.zimax.mcrs.update.pojo.UpdateUpload">
        select * from upd_upload
        <where>
            <if test="version !=null and version !=''">
                and version like '%${version}%'
            </if>
            <if test="deviceSoType !=null and deviceSoType !=''">
                and device_so_type like '%${deviceSoType}%'
            </if>
        </where>
        <if test="order !=null and order !=''">
            order by ${field} ${order}
        </if>
        <if test="limit !=null and limit !=''">
            limit ${begin},${limit}
        </if>
    </select>

    <!--查询升级更新包数据-->
    <select id="queryUpdateUpload" parameterType="map" resultType="com.zimax.mcrs.update.pojo.UpdateUpload">
        select * from upd_upload
        <where>
            version &gt; #{maxVersion}
            <if test="version !=null and version !=''">
                and version like '%${version}%'
            </if>
            <if test="deviceSoType !=null and deviceSoType !=''">
                and device_so_type like '%${deviceSoType}%'
            </if>
        </where>
        <if test="order !=null and order !=''">
            order by ${field} ${order}
        </if>
        <if test="limit !=null and limit !=''">
            limit ${begin},${limit}
        </if>
    </select>

    <!--查询升级更新包数据-->
    <select id="queryUpdateUploadRo" parameterType="map" resultType="com.zimax.mcrs.update.pojo.UpdateUpload">
        select * from upd_upload
        <where>
            version &lt; #{minVersion}
            <if test="version !=null and version !=''">
                and version like '%${version}%'
            </if>
            <if test="deviceSoType !=null and deviceSoType !=''">
                and device_so_type like '%${deviceSoType}%'
            </if>
        </where>
        <if test="order !=null and order !=''">
            order by ${field} ${order}
        </if>
        <if test="limit !=null and limit !=''">
            limit ${begin},${limit}
        </if>
    </select>

    <!--    批量删除-->
    <delete id="deleteUpload" parameterType="java.util.List">
        delete from upd_upload where upload_id in
        <foreach collection="list" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <!--通过组件批量获取符合实体-->
    <select id="getUpload" parameterType="java.util.List" resultType="com.zimax.mcrs.update.pojo.UpdateUpload">
        select * from upd_upload where upload_id in
        <foreach collection="list" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </select>

    <!--通过uuidFile批量获取符合文件名-->
    <select id="getUploadFileName" resultType="string">
        select file_name from upd_upload
        <where>
            <if test="uuidFile !=null and uuidFile !=''">
                and uuid_file like '%${uuidFile}%'
            </if>
        </where>
    </select>

    <!--通过终端软件类型查询出最新的版本号-->
    <select id="getUpdateUpload" resultType="com.zimax.mcrs.update.pojo.UpdateUpload">
        SELECT * FROM upd_upload
        <where>
            <if test="deviceSoType !=null and deviceSoType !=''">
                and device_so_type like '%${deviceSoType}%'
            </if>
        </where>
        ORDER BY version_upload_time DESC
        LIMIT 1;
    </select>

    <!--获取一个更新包信息-->
    <select id="getUpdateUploadRecord" resultType="com.zimax.mcrs.update.pojo.UpdateUpload">
        select *
        from upd_upload
        where upload_id = #{uploadId}
    </select>


</mapper>