<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zimax.mcrs.update.mapper.UpdateUploadMapper">
    <!--添加更新包信息-->
    <insert id="addUpdateUpload" parameterType="com.zimax.mcrs.update.pojo.UpdateUpload">
        insert into upd_upload
        values (#{uploadId}, #{uploadNumber}, #{version}, #{deviceSoType}, #{uploadStrategy},#{fileName}, #{uploader}, #{versionUploadTime}, #{remarks}, #{majorVersion}, #{downloadUrl},
                #{uploadUuid},
                #{OriginalFilename},#{uploadFileSize},#{uploadFileType})
    </insert>

    <!--    查询记录数-->
    <select id="count" resultType="int">
        select count(*) from upd_upload
        <where>
            <if test="version !=null and version !=''">
                and version like '%${version}%'
            </if>
            <if test="deviceSoType !=null and deviceSoType !=''">
                and device_so_type like '%${deviceSoType}%'
            </if>
        </where>
    </select>
    <!--查询更新包数据-->
    <select id="queryUpdateUpload" parameterType="map"  resultType="com.zimax.mcrs.update.pojo.UpdateUpload">
        select * from upd_upload
        <where>
            <if test="version !=null and version !=''">
                and version like '%${version}%'
            </if>
            <if test="deviceSoType !=null and deviceSoType !=''">
                and device_so_type like '%${deviceSoType}%'
            </if>
        </where>
        <if test="order !=null and order !=''">
            order by ${field} ${order}
        </if>
        <if test="limit !=null and limit !=''">
            limit ${begin},${limit}
        </if>

    </select>
</mapper>