<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zimax.mcrs.update.mapper.UpdatePackageMapper">

    <select id="getDevice" resultType="com.zimax.mcrs.update.pojo.DeviceRecordUpdateMsgVo">
        SELECT * FROM upd_record INNER JOIN eqi_device ON eqi_device.device_id = upd_record.device_id INNER JOIN upd_upload ON upd_upload.upload_id=upd_record.upload_id
        WHERE app_id = #{APPId}
    </select>

<!--    <select id="getVersionUploadStrategy" resultType="com.zimax.mcrs.update.pojo.VersionUploadStrategyVo">-->
<!--        select *-->
<!--        from upd_upload-->
<!--        where upload_id = #{uploadId}-->
<!--    </select>-->

    <!--新增-->
    <insert id="addRecordUpdateMsg" parameterType="com.zimax.mcrs.update.pojo.RecordUpdateMsg">
        insert into upd_record
        values (#{recordUpdateId}, #{deviceId}, #{uploadId}, #{createTime}, #{creator}, #{updateStatus})
    </insert>

    <!--更新-->
    <update id="updateRecordUpdateMsg" parameterType="com.zimax.mcrs.update.pojo.RecordUpdateMsg">
        UPDATE upd_record
        SET device_id       = #{deviceId},
            upload_id       = #{uploadId},
            create_time     = #{createTime},
            creator        = #{creator},
            update_status   = #{updateStatus},
            WHERE recordUpdate_id = ${recordUpdateId}
    </update>

    <select id="getaccPointIdBycode" resultType="Integer">
        SELECT acc_point_res_id FROM base_access_info
        WHERE acc_point_res_code = #{accPointResCode}
    </select>
    <select id="getequTypeIdBycode" resultType="Integer">
        SELECT equip_type_id FROM base_equip_info
        WHERE equip_type_code = #{equipTypeCode}
    </select>


</mapper>