<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zimax.components.coframe.auth.mapper.UserInitMapper">
    <!-- 查询用户基础信息 -->
    <select id="queryUserBaseInfo" resultType="map">
        SELECT U.USER_ID,
               U.USER_NAME,
               U.EMAIL,
               U.MENU_TYPE
        FROM CAP_USER U
        where U.USER_ID = #{userId}
    </select>

    <!-- 查询参与者权限 -->
    <select id="queryPartyAuth" resultType="map">
        SELECT ROLE_ID FROM CAP_PARTY_AUTH P WHERE P.PARTY_ID = #{userId} AND P.PARTY_TYPE = 'user' </select>


</mapper>