<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zimax.components.coframe.rights.mapper.UserMapper">

    <!--新增用户-->
    <insert id="addUser" parameterType="com.zimax.components.coframe.rights.pojo.User">
        insert into cap_user
        values (#{operatorId}, #{tenantId}, #{userId}, #{password}, #{invalDate}, #{userName}, #{authMode}, #{status},
                #{unlockTime}, #{menuType},
                #{lastLogin}, #{errCount}, #{startDate}, #{endDate}, #{validTime}, #{macCode}, #{ipAddress}, #{email},
                #{creator}, #{createTime})
    </insert>

    <!--    查询记录数-->
    <select id="count" resultType="int">
        select count(*) from cap_user
        <where>
            <if test="status !=null and status !=''">
                and status like '%${status}%'
            </if>
            <if test="userName !=null and userName !=''">
                and user_name like '%${userName}%'
            </if>
        </where>
    </select>
    <!--    &lt;!&ndash;    查询匹配密码记录数&ndash;&gt;-->
    <!--    <select id="countPa" resultType="int">-->
    <!--        select count(*) from cap_user-->
    <!--        <where>-->
    <!--            <if test="userId !=null and userId !=''">-->
    <!--                and user_id like '%${userId}%'-->
    <!--            </if>-->
    <!--        </where>-->
    <!--    </select>-->
    <!--    <select id="queryPassword" parameterType="map" resultType="com.zimax.components.coframe.rights.pojo.User">-->
    <!--        select * from cap_user-->
    <!--        <where>-->
    <!--            <if test="userId !=null and userId !=''">-->
    <!--                and user_id like '%${userId}%'-->
    <!--            </if>-->
    <!--        </where>-->
    <!--        <if test="order !=null and order !=''">-->
    <!--            order by ${field} ${order}-->
    <!--        </if>-->
    <!--        <if test="limit !=null and limit !=''">-->
    <!--            limit ${begin},${limit}-->
    <!--        </if>-->
    <!--    </select>-->


    <!--查询所用户信息-->
    <!--列表显示-->
    <select id="queryUsers" parameterType="map" resultType="com.zimax.components.coframe.rights.pojo.User">
        select * from cap_user
        <where>
            <if test="status !=null and status !=''">
                and status like '%${status}%'
            </if>
            <if test="userName !=null and userName !=''">
                and user_name like '%${userName}%'
            </if>
        </where>
        <if test="order !=null and order !=''">
            order by ${field} ${order}
        </if>
        <if test="limit !=null and limit !=''">
            limit ${begin},${limit}
        </if>
    </select>

    <!--更新一条选中的用户信息-->
    <update id="updateUser" parameterType="com.zimax.components.coframe.rights.pojo.User">
        UPDATE cap_user
        SET tenant_id   = #{tenantId},
            user_id     = #{userId},
            password    = #{password},
            inval_date  = #{invalDate},
            user_name   = #{userName},
            auth_mode   = #{authMode},
            status      = #{status},
            unlock_time = #{unlockTime},
            menu_type   = #{menuType},
            last_login  = #{lastLogin},
            err_count   = #{errCount},
            start_date  = #{startDate},
            end_date    = #{endDate},
            valid_time  = #{validTime},
            mac_code    = #{macCode},
            ip_address  = #{ipAddress},
            email       = #{email},
            creator     = #{creator},
            create_time = #{createTime}
        WHERE operator_id = #{operatorId}
    </update>
    <!--    主键删除-->
    <delete id="deleteUser" parameterType="int">
        delete
        from cap_user
        where operator_id = #{operatorId}
    </delete>
    <!--    批量删除-->
    <delete id="deleteUsers" parameterType="java.util.List">
        delete from cap_user where operator_id in
        <foreach collection="list" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>
    <!--获取一个用户信息-->
    <select id="getUser" resultType="com.zimax.components.coframe.rights.pojo.User">
        select *
        from cap_user
        where operator_id = #{operatorId}
    </select>
    <!--获取一个用户信息-->
    <select id="getUserByUserId" resultType="com.zimax.components.coframe.rights.pojo.User">
        select *
        from cap_user
        where user_id = #{userId}
    </select>

    <!--获取一个用户信息-->
    <select id="checkUser" resultType="com.zimax.components.coframe.rights.pojo.User">
        select count(*)
        from cap_user
        where user_id = #{userId}
    </select>

<!--    &lt;!&ndash;重置密码&ndash;&gt;-->
<!--    <update id="updatePasswords">-->
<!--        update cap_user set password = #{password} in-->
<!--        <foreach collection="userIds" open="(" separator="," close=")" item="item" index="index">-->
<!--            #{item.userId}-->
<!--        </foreach>-->
<!--    </update>-->

        <!--重置密码-->
        <update id="updatePasswords">
            update cap_user
            <trim prefix="set" suffixOverrides=",">
                <trim prefix="password = case" suffix="end,">
                    <foreach collection="list" item="item" index="index">
                        <if test="item.password != null and item.password != ''">
                            when user_id = #{item.userId} then #{item.password}
                        </if>
                    </foreach>
                </trim>
            </trim>
            where user_id in
            <foreach collection="list" item="user" index="index" separator="," open="(" close=")">
                (#{user.userId})
            </foreach>
        </update>
</mapper>
