<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zimax.mcrs.basic.warn.mapper.WarnMapper">

    <!--添加-->
    <insert id="addWarn" parameterType="com.zimax.mcrs.basic.warn.pojo.WarnManager" keyProperty="id"
            useGeneratedKeys="true">
        insert into base_warn
        values (#{id},#{warnGrade},#{remark}#,{creator}, #{createTime})
    </insert>
    <insert id="addWarnToUser" parameterType="com.zimax.mcrs.basic.warn.pojo.WarnDealWith">
        insert into base_warn_dealwith
        values (#{id},#{warnId}, #{roleId})
    </insert>
    <!--    查询记录数-->
    <select id="count" resultType="int">
        select count(*) from base_warn
        <where>
            <if test="warnGrade !=null and warnGrade !=''">
                and warn_grade like '%${warnGrade}%'
            </if>
        </where>
    </select>


    <select id="queryWarn" parameterType="map" resultType="com.zimax.mcrs.basic.warn.pojo.WarnManager">
        select * from base_warn
        <where>
            <if test="warnGrade !=null and warnGrade !=''">
                and warn_grade like '%${warnGrade}%'
            </if>
        </where>
        <if test="order !=null and order !=''">
            order by ${field} ${order}
        </if>
        <if test="limit !=null and limit !=''">
            limit ${begin},${limit}
        </if>
    </select>

    <delete id="delWarnToUser">
        delete
        from base_warn_dealwith
        where warn_id = #{warnId}
    </delete>
    <select id="isExist" resultType="int">
        select count(*) from base_warn
        <where>
            <if test="warnGrade !=null and warnGrade !=''">
                and warn_grade = #{warnGrade}
            </if>
        </where>
    </select>
    <select id="queryWarnToUser" resultType="com.zimax.mcrs.basic.warn.pojo.WarnDealWith">
        select * from base_warn_dealwith a LEFT JOIN cap_role b ON a.role_id=b.role_id
        <where>
            <if test="warnId !=null and warnId !=''">
                and warn_id = #{warnId}
            </if>
        </where>
    </select>

    <update id="updateWarn" parameterType="com.zimax.mcrs.basic.warn.pojo.WarnManager">
        update base_warn
        set warn_grade=#{warnGrade},
            remark=#{remark}
        where id = ${id}
    </update>
</mapper>
